In [176]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import functions as F

In [177]:
import pandas as pd
df = pd.read_csv('../data/ocupados_sexo_actividad.csv', sep=';')
df

,Rama de actividad CNAE 2009,Sexo,Unidad,Periodo,Total
0,Total,Ambos sexos,Valor absoluto,2023T4,"21.246,9"
1,Total,Ambos sexos,Valor absoluto,2023T3,"21.265,9"
2,Total,Ambos sexos,Valor absoluto,2023T2,"21.056,7"
3,Total,Ambos sexos,Valor absoluto,2023T1,"20.452,8"
4,Total,Ambos sexos,Valor absoluto,2022T4,"20.463,9"
...,...,...,...,...,...
7915,99 Actividades de organizaciones y organismos ...,Mujeres,Porcentaje,2022T1,0
7916,99 Actividades de organizaciones y organismos ...,Mujeres,Porcentaje,2021T4,0
7917,99 Actividades de organizaciones y organismos ...,Mujeres,Porcentaje,2021T3,0
7918,99 Actividades de organizaciones y organismos ...,Mujeres,Porcentaje,2021T2,0
7919,99 Actividades de organizaciones y organismos ...,Mujeres,Porcentaje,2021T1,0

In [178]:
df = spark.createDataFrame(df)

In [179]:
spark = SparkSession.builder.appName("App").getOrCreate()

In [180]:
#df = spark.read.options(header='true', inferSchema='true', delimiter=';').csv('../data/ocupados_sexo_actividad.csv')

In [181]:
df.show(40)

Py4JJavaError: An error occurred while calling o885.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 232.0 failed 1 times, most recent failure: Lost task 0.0 in stage 232.0 (TID 176) (DESKTOP-9HO6L2G executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:203)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:174)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:67)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(DualStackPlainSocketImpl.java:131)
	at java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:535)
	at java.net.PlainSocketImpl.accept(PlainSocketImpl.java:189)
	at java.net.ServerSocket.implAccept(ServerSocket.java:545)
	at java.net.ServerSocket.accept(ServerSocket.java:513)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:190)
	... 32 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:989)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2398)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2419)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2438)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:530)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:483)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:61)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4332)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3314)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4322)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:546)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4320)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4320)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3314)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3537)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:280)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:315)
	at sun.reflect.GeneratedMethodAccessor66.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:203)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:174)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:67)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(DualStackPlainSocketImpl.java:131)
	at java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:535)
	at java.net.PlainSocketImpl.accept(PlainSocketImpl.java:189)
	at java.net.ServerSocket.implAccept(ServerSocket.java:545)
	at java.net.ServerSocket.accept(ServerSocket.java:513)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:190)
	... 32 more

In [ ]:
df.printSchema()

root
 |-- Rama de actividad CNAE 2009: string (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Unidad: string (nullable = true)
 |-- Periodo: string (nullable = true)
 |-- Total: string (nullable = true)

In [ ]:
df = df.withColumnRenamed('Rama de actividad CNAE 2009', 'Cnae').withColumnRenamed('Periodo', 'Fecha')
df.printSchema()

root
 |-- Cnae: string (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Unidad: string (nullable = true)
 |-- Fecha: string (nullable = true)
 |-- Total: string (nullable = true)

In [ ]:
df.select('Cnae').distinct().collect()

[Row(Cnae='21 FabricaciÃ³n de productos farmacÃ©uticos'),
 Row(Cnae='30 FabricaciÃ³n de otro material de transporte'),
 Row(Cnae='43 Actividades de construcciÃ³n especializada'),
 Row(Cnae='Total'),
 Row(Cnae='28 FabricaciÃ³n de maquinaria y equipo n.c.o.p.'),
 Row(Cnae='10 Industria de la alimentaciÃ³n'),
 Row(Cnae='N Actividades administrativas y servicios auxiliares'),
 Row(Cnae='41 ConstrucciÃ³n de edificios'),
 Row(Cnae='97 Actividades de los hogares como empleadores de personal domÃ©stico'),
 Row(Cnae='81 Servicios a edificios y actividades de jardinerÃ­a'),
 Row(Cnae='53 Actividades postales y de correos'),
 Row(Cnae='13 Industria textil'),
 Row(Cnae='86 Actividades sanitarias'),
 Row(Cnae='D Suministro de energÃ­a elÃ©ctrica, gas, vapor y aire acondicionado'),
 Row(Cnae='26 FabricaciÃ³n de productos informÃ¡ticos, electrÃ³nicos y Ã³pticos'),
 Row(Cnae='64 Servicios financieros, excepto seguros y fondos de pensiones'),
 Row(Cnae='32 Otras industrias manufactureras'),
 Row(Cnae='U Actividades de organizaciones y organismos extraterritoriales'),
 Row(Cnae='79 Actividades de agencias de viajes, operadores turÃ­sticos, servicios de reservas y actividades relacionadas con los mismos'),
 Row(Cnae='23 FabricaciÃ³n de otros productos minerales no metÃ¡licos'),
 Row(Cnae='52 Almacenamiento y actividades anexas al transporte'),
 Row(Cnae='95 ReparaciÃ³n de ordenadores, efectos personales y artÃ­culos de uso domÃ©stico'),
 Row(Cnae='84 AdministraciÃ³n PÃºblica y defensa, Seguridad Social obligatoria'),
 Row(Cnae='08 Otras industrias extractivas'),
 Row(Cnae='03 Pesca y acuicultura'),
 Row(Cnae='47 Comercio al por menor, excepto de vehÃ­culos de motor y motocicletas'),
 Row(Cnae='K Actividades financieras y de seguros'),
 Row(Cnae='92 Actividades de juegos de azar y apuestas'),
 Row(Cnae='98 Actividades de los hogares como productores de bienes y servicios para uso propio'),
 Row(Cnae='85 EducaciÃ³n'),
 Row(Cnae='99 Actividades de organizaciones y organismos extraterritoriales'),
 Row(Cnae='62 ProgramaciÃ³n, consultorÃ­a y otras actividades relacionadas con la informÃ¡tica'),
 Row(Cnae='65 Seguros, reaseguros y fondos de pensiones, excepto Seguridad Social obligatoria'),
 Row(Cnae='J InformaciÃ³n y comunicaciones'),
 Row(Cnae='31 FabricaciÃ³n de muebles'),
 Row(Cnae='87 Asistencia en establecimientos residenciales'),
 Row(Cnae='09 Actividades de apoyo a las industrias extractivas'),
 Row(Cnae='18 Artes grÃ¡ficas y reproducciÃ³n de soportes grabados'),
 Row(Cnae='59 Actividades cinematogrÃ¡ficas, de vÃ­deo y de programas de televisiÃ³n, grabaciÃ³n de sonido y ediciÃ³n musical'),
 Row(Cnae='96 Otros servicios personales'),
 Row(Cnae='42 IngenierÃ­a civil'),
 Row(Cnae='22 FabricaciÃ³n de productos de caucho y plÃ¡sticos'),
 Row(Cnae='19 CoquerÃ­as y refino de petrÃ³leo'),
 Row(Cnae='63 Servicios de informaciÃ³n'),
 Row(Cnae='S Otros servicios'),
 Row(Cnae='11 FabricaciÃ³n de bebidas'),
 Row(Cnae='33 ReparaciÃ³n e instalaciÃ³n de maquinaria y equipo'),
 Row(Cnae='66 Actividades auxiliares a los servicios financieros y a los seguros'),
 Row(Cnae='R Actividades artÃ­sticas, recreativas y de entretenimiento'),
 Row(Cnae='29 FabricaciÃ³n de vehÃ­culos de motor, remolques y semirremolques'),
 Row(Cnae='06 ExtracciÃ³n de crudo de petrÃ³leo y gas natural'),
 Row(Cnae='20 Industria quÃ­mica'),
 Row(Cnae='Q Actividades sanitarias y de servicios sociales'),
 Row(Cnae='35 Suministro de energÃ­a elÃ©ctrica, gas, vapor y aire acondicionado'),
 Row(Cnae='12 Industria del tabaco'),
 Row(Cnae='O AdministraciÃ³n PÃºblica y defensa, Seguridad Social obligatoria'),
 Row(Cnae='07 ExtracciÃ³n de minerales metÃ¡licos'),
 Row(Cnae='68 Actividades inmobiliarias'),
 Row(Cnae='80 Actividades de seguridad e investigaciÃ³n'),
 Row(Cnae='01 Agricultura, ganaderÃ­a, caza y servicios relacionados con las mismas'),
 Row(Cnae='37 Recogida y tratamiento de aguas residuales'),
 Row(Cnae='F ConstrucciÃ³n'),
 Row(Cnae='P EducaciÃ³n'),
 Row(Cnae='A Agricultura, ganaderÃ­a, silvicultura y pesca'),
 Row(Cnae='27 FabricaciÃ³n de material y equipo elÃ©ctrico'),
 Row(Cnae='E Suministro de agua, actividades de saneamiento, gestiÃ³n de residuos y descontaminaciÃ³n'),
 Row(Cnae='78 Actividades relacionadas con el empleo'),
 Row(Cnae='69 Actividades jurÃ­dicas y de contabilidad'),
 Row(Cnae='B Industrias extractivas'),
 Row(Cnae='74 Otras actividades profesionales, cientÃ­ficas y tÃ©cnicas'),
 Row(Cnae='39 Actividades de descontaminaciÃ³n y otros servicios de gestiÃ³n de residuos'),
 Row(Cnae='71 Servicios tÃ©cnicos de arquitectura e ingenierÃ­a, ensayos y anÃ¡lisis tÃ©cnicos'),
 Row(Cnae='77 Actividades de alquiler'),
 Row(Cnae='73 Publicidad y estudios de mercado'),
 Row(Cnae='70 Actividades de las sedes centrales, actividades de consultorÃ­a de gestiÃ³n empresarial'),
 Row(Cnae='17 Industria del papel'),
 Row(Cnae='60 Actividades de programaciÃ³n y emisiÃ³n de radio y televisiÃ³n'),
 Row(Cnae='25 FabricaciÃ³n de productos metÃ¡licos, excepto maquinaria y equipo'),
 Row(Cnae='H Transporte y almacenamiento'),
 Row(Cnae='C Industria manufacturera'),
 Row(Cnae='15 Industria del cuero y del calzado'),
 Row(Cnae='61 Telecomunicaciones'),
 Row(Cnae='49 Transporte terrestre y por tuberÃ­a'),
 Row(Cnae='51 Transporte aÃ©reo'),
 Row(Cnae='I HostelerÃ­a'),
 Row(Cnae='M Actividades profesionales, cientÃ­ficas y tÃ©cnicas'),
 Row(Cnae='T Actividades de los hogares como empleadores de personal domÃ©stico, actividades de los hogares como productores de bienes y servicios para uso propio'),
 Row(Cnae='50 Transporte marÃ­timo y por vÃ­as navegables interiores'),
 Row(Cnae='88 Actividades de servicios sociales sin alojamiento'),
 Row(Cnae='36 CaptaciÃ³n, depuraciÃ³n y distribuciÃ³n de agua'),
 Row(Cnae='90 Actividades de creaciÃ³n, artÃ­sticas y espectÃ¡culos'),
 Row(Cnae='45 Venta y reparaciÃ³n de vehÃ­culos de motor y motocicletas'),
 Row(Cnae='46 Comercio al por mayor e intermediarios del comercio, excepto de vehÃ­culos de motor y motocicletas'),
 Row(Cnae='L Actividades inmobiliarias'),
 Row(Cnae='75 Actividades veterinarias'),
 Row(Cnae='93 Actividades deportivas, recreativas y de entretenimiento'),
 Row(Cnae='72 InvestigaciÃ³n y desarrollo'),
 Row(Cnae='14 ConfecciÃ³n de prendas de vestir'),
 Row(Cnae='55 Servicios de alojamiento'),
 Row(Cnae='02 Silvicultura y explotaciÃ³n forestal'),
 Row(Cnae='82 Actividades administrativas de oficina y otras actividades auxiliares a las empresas'),
 Row(Cnae='58 EdiciÃ³n'),
 Row(Cnae='94 Actividades asociativas'),
 Row(Cnae='38 Recogida, tratamiento y eliminaciÃ³n de residuos, valorizaciÃ³n'),
 Row(Cnae='05 ExtracciÃ³n de antracita, hulla y lignito'),
 Row(Cnae='91 Actividades de bibliotecas, archivos, museos y otras actividades culturales'),
 Row(Cnae='16 Industria de la madera y del corcho, excepto muebles, cesterÃ­a y esparterÃ­a'),
 Row(Cnae='24 Metalurgia, fabricaciÃ³n de productos de hierro, acero y ferroaleaciones'),
 Row(Cnae='G Comercio al por mayor y al por menor, reparaciÃ³n de vehÃ­culos de motor y motocicletas'),
 Row(Cnae='56 Servicios de comidas y bebidas')]

In [ ]:
df.orderBy('Total').show()

+--------------------+-----------+--------------+------+-----+
|                Cnae|       Sexo|        Unidad| Fecha|Total|
+--------------------+-----------+--------------+------+-----+
|05 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2023T4|   ..|
|09 Actividades de...|Ambos sexos|Valor absoluto|2021T4|   ..|
|05 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2023T3|   ..|
|05 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2023T1|   ..|
|05 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2022T4|   ..|
|05 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2022T3|   ..|
|05 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2022T1|   ..|
|05 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2023T4|   ..|
|05 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2023T3|   ..|
|05 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2023T1|   ..|
|05 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2022T4|   ..|
|05 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2022T3|   ..|
|05 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2022T1|   ..|
|06 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2023T4|   ..|
|06 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2023T3|   ..|
|06 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2023T4|   ..|
|06 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2023T3|   ..|
|07 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2022T4|   ..|
|07 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2021T1|   ..|
|07 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2022T4|   ..|
+--------------------+-----------+--------------+------+-----+
only showing top 20 rows

In [ ]:
df.where(df['Total'].isNull()).count(), df.count()

(0, 7920)

In [ ]:
df.filter(df['Total'] == '..').count()

128

In [ ]:
df = df.replace(['..','.'],['',''],'Total')

In [ ]:
df.where(df['Total'].isNull()).count(), df.count()

(0, 7920)

In [ ]:
df = df.withColumn('Total', F.regexp_replace('Total', '\\.', ''))
df = df.withColumn('Total', F.regexp_replace('Total', ',', '.'))

In [ ]:
df.where(df['Total'].isNull()).count(), df.count()

(0, 7920)

In [ ]:
df.select('Total').distinct().collect()

[Row(Total='723.3'),
 Row(Total='58.7'),
 Row(Total='10.7'),
 Row(Total='118.5'),
 Row(Total='78.9'),
 Row(Total='91.8'),
 Row(Total='110.9'),
 Row(Total='286.9'),
 Row(Total='732.1'),
 Row(Total='794.3'),
 Row(Total='191.9'),
 Row(Total='8.5'),
 Row(Total='268.3'),
 Row(Total='406.6'),
 Row(Total='357.9'),
 Row(Total='73.7'),
 Row(Total='20.5'),
 Row(Total='45.4'),
 Row(Total='38.3'),
 Row(Total='34.4'),
 Row(Total='176.4'),
 Row(Total='69.3'),
 Row(Total='1158.6'),
 Row(Total='1132.6'),
 Row(Total='1091.3'),
 Row(Total='212.2'),
 Row(Total='366.9'),
 Row(Total='125'),
 Row(Total='299.8'),
 Row(Total='479.3'),
 Row(Total='391.9'),
 Row(Total='47.5'),
 Row(Total='487.5'),
 Row(Total='2.6'),
 Row(Total='63.2'),
 Row(Total='80.3'),
 Row(Total='38.5'),
 Row(Total='72.9'),
 Row(Total='49.1'),
 Row(Total='131.6'),
 Row(Total='551.7'),
 Row(Total='8.2'),
 Row(Total='919'),
 Row(Total='401.6'),
 Row(Total='130.3'),
 Row(Total='244.1'),
 Row(Total='383.2'),
 Row(Total='1361'),
 Row(Total='1295.5'),
 Row(Total='74.4'),
 Row(Total='1834.7'),
 Row(Total='7.3'),
 Row(Total='7'),
 Row(Total='48.1'),
 Row(Total='26.5'),
 Row(Total='51'),
 Row(Total='230.4'),
 Row(Total='152.4'),
 Row(Total='315.1'),
 Row(Total='83.9'),
 Row(Total='574'),
 Row(Total='59.3'),
 Row(Total='3.1'),
 Row(Total='471.4'),
 Row(Total='369.1'),
 Row(Total='820.3'),
 Row(Total='96.6'),
 Row(Total='370.4'),
 Row(Total='123.7'),
 Row(Total='74.2'),
 Row(Total='29.4'),
 Row(Total='16.6'),
 Row(Total='14.2'),
 Row(Total='12.8'),
 Row(Total='502.9'),
 Row(Total='767.1'),
 Row(Total='633.9'),
 Row(Total='640.9'),
 Row(Total='1043'),
 Row(Total='2040.7'),
 Row(Total='382.1'),
 Row(Total='334'),
 Row(Total='46.7'),
 Row(Total='58.2'),
 Row(Total='17.1'),
 Row(Total='89.2'),
 Row(Total='108.2'),
 Row(Total='2948'),
 Row(Total='692.6'),
 Row(Total='272'),
 Row(Total='1516.2'),
 Row(Total='26.7'),
 Row(Total='36.1'),
 Row(Total='628.3'),
 Row(Total='220.4'),
 Row(Total='30.1'),
 Row(Total='655.5'),
 Row(Total='1049.2'),
 Row(Total='516.9'),
 Row(Total='54'),
 Row(Total='15'),
 Row(Total='8.3'),
 Row(Total='64.5'),
 Row(Total='76.2'),
 Row(Total='87.2'),
 Row(Total='324.3'),
 Row(Total='277.5'),
 Row(Total='1154.6'),
 Row(Total='234'),
 Row(Total='40.1'),
 Row(Total='1077.7'),
 Row(Total='232'),
 Row(Total='483'),
 Row(Total='22.4'),
 Row(Total='133.6'),
 Row(Total='541.2'),
 Row(Total='1496'),
 Row(Total='193.4'),
 Row(Total='1606.9'),
 Row(Total='1207'),
 Row(Total='155'),
 Row(Total='587.7'),
 Row(Total='150.1'),
 Row(Total='572.4'),
 Row(Total='283.1'),
 Row(Total='4.2'),
 Row(Total='567.7'),
 Row(Total='39.6'),
 Row(Total='667.6'),
 Row(Total='1122.2'),
 Row(Total='543.2'),
 Row(Total='77.1'),
 Row(Total='398.5'),
 Row(Total='354.5'),
 Row(Total='81.7'),
 Row(Total='611.5'),
 Row(Total='40.9'),
 Row(Total='476.2'),
 Row(Total='400.2'),
 Row(Total='352.1'),
 Row(Total='492.2'),
 Row(Total='11'),
 Row(Total='77.5'),
 Row(Total='9.2'),
 Row(Total='226.9'),
 Row(Total='112.9'),
 Row(Total='672'),
 Row(Total='1232.1'),
 Row(Total='491.4'),
 Row(Total='101'),
 Row(Total='588.9'),
 Row(Total='45.1'),
 Row(Total='79.5'),
 Row(Total='45.6'),
 Row(Total='174.1'),
 Row(Total='15.8'),
 Row(Total='44.9'),
 Row(Total='82.3'),
 Row(Total='675.7'),
 Row(Total='848.2'),
 Row(Total='191.5'),
 Row(Total='19.3'),
 Row(Total='164.3'),
 Row(Total='44.6'),
 Row(Total='1355.1'),
 Row(Total='1536.4'),
 Row(Total='164.7'),
 Row(Total='32.7'),
 Row(Total='54.4'),
 Row(Total='138'),
 Row(Total='288.5'),
 Row(Total='179.4'),
 Row(Total='274.3'),
 Row(Total='12.4'),
 Row(Total='738.5'),
 Row(Total='69'),
 Row(Total='101.5'),
 Row(Total='22.5'),
 Row(Total='130.9'),
 Row(Total='29'),
 Row(Total='135.1'),
 Row(Total='788'),
 Row(Total='1488.9'),
 Row(Total='309'),
 Row(Total='127.4'),
 Row(Total='28.7'),
 Row(Total='42'),
 Row(Total='53.5'),
 Row(Total='206.6'),
 Row(Total='112'),
 Row(Total='358.9'),
 Row(Total='863'),
 Row(Total='68.1'),
 Row(Total='553.1'),
 Row(Total='479.8'),
 Row(Total='84.3'),
 Row(Total='424'),
 Row(Total='154.5'),
 Row(Total='720.3'),
 Row(Total='0.3'),
 Row(Total='55.1'),
 Row(Total='73'),
 Row(Total='143.5'),
 Row(Total='87'),
 Row(Total='352.2'),
 Row(Total='36.8'),
 Row(Total='604.2'),
 Row(Total='171.4'),
 Row(Total='15.7'),
 Row(Total='16.4'),
 Row(Total='710.9'),
 Row(Total='64'),
 Row(Total='114.2'),
 Row(Total='75.2'),
 Row(Total='57.2'),
 Row(Total='105.5'),
 Row(Total='1261.8'),
 Row(Total='1017.7'),
 Row(Total='147.5'),
 Row(Total='3'),
 Row(Total='54.5'),
 Row(Total='30.9'),
 Row(Total='627.6'),
 Row(Total='1444.3'),
 Row(Total='318.2'),
 Row(Total='544.4'),
 Row(Total='35.9'),
 Row(Total='35.8'),
 Row(Total='30'),
 Row(Total='1338.2'),
 Row(Total='62.9'),
 Row(Total='2965.8'),
 Row(Total='1808.4'),
 Row(Total='1144.9'),
 Row(Total='466.4'),
 Row(Total='133.1'),
 Row(Total='993.1'),
 Row(Total='16.7'),
 Row(Total='75.1'),
 Row(Total='62.6'),
 Row(Total='146.8'),
 Row(Total='92.4'),
 Row(Total='511.7'),
 Row(Total='1745.5'),
 Row(Total='34'),
 Row(Total='208.2'),
 Row(Total='652'),
 Row(Total='241.5'),
 Row(Total='167.5'),
 Row(Total='55.8'),
 Row(Total='21.5'),
 Row(Total='96.8'),
 Row(Total='59.5'),
 Row(Total='120.9'),
 Row(Total='133'),
 Row(Total='150.2'),
 Row(Total='99.6'),
 Row(Total='1074.4'),
 Row(Total='557.1'),
 Row(Total='68.6'),
 Row(Total='363.7'),
 Row(Total='40.8'),
 Row(Total='109.9'),
 Row(Total='45.9'),
 Row(Total='76.4'),
 Row(Total='17.6'),
 Row(Total='556.2'),
 Row(Total='145.9'),
 Row(Total='597.6'),
 Row(Total='2361.7'),
 Row(Total='1836'),
 Row(Total='473.4'),
 Row(Total='286.6'),
 Row(Total='50.2'),
 Row(Total='215.4'),
 Row(Total='159.6'),
 Row(Total='59'),
 Row(Total='162'),
 Row(Total='1340.7'),
 Row(Total='1472.1'),
 Row(Total='180.3'),
 Row(Total='23.8'),
 Row(Total='167.7'),
 Row(Total='303.8'),
 Row(Total='37.2'),
 Row(Total='61.6'),
 Row(Total='78.3'),
 Row(Total='146'),
 Row(Total='1324.8'),
 Row(Total='49.2'),
 Row(Total='1117.8'),
 Row(Total='916.2'),
 Row(Total='24.5'),
 Row(Total='758.7'),
 Row(Total='1911'),
 Row(Total='452.4'),
 Row(Total='1556.6'),
 Row(Total='368.7'),
 Row(Total='947.7'),
 Row(Total='6.1'),
 Row(Total='246.3'),
 Row(Total='74.8'),
 Row(Total='113.9'),
 Row(Total='379'),
 Row(Total='551.9'),
 Row(Total='1297.8'),
 Row(Total='170.8'),
 Row(Total='2447.4'),
 Row(Total='480.7'),
 Row(Total='8'),
 Row(Total='156.8'),
 Row(Total='22.8'),
 Row(Total='1849.9'),
 Row(Total='640.1'),
 Row(Total='158.9'),
 Row(Total='82.8'),
 Row(Total='158.1'),
 Row(Total='926.8'),
 Row(Total='46.8'),
 Row(Total='327.5'),
 Row(Total='3.8'),
 Row(Total='1.7'),
 Row(Total='4.4'),
 Row(Total='2.7'),
 Row(Total='20.4'),
 Row(Total='180.4'),
 Row(Total='70.9'),
 Row(Total='68.7'),
 Row(Total='116.9'),
 Row(Total='897.3'),
 Row(Total='356.1'),
 Row(Total='132.6'),
 Row(Total='347.1'),
 Row(Total='1473.9'),
 Row(Total='1822.3'),
 Row(Total='16.9'),
 Row(Total='482.5'),
 Row(Total='50.9'),
 Row(Total='236.1'),
 Row(Total='70.5'),
 Row(Total='124.2'),
 Row(Total='497.6'),
 Row(Total='261.4'),
 Row(Total='1400.5'),
 Row(Total='1223.1'),
 Row(Total='993.2'),
 Row(Total='248.4'),
 Row(Total='203'),
 Row(Total='209.7'),
 Row(Total='38.4'),
 Row(Total='28'),
 Row(Total='2553.6'),
 Row(Total='51.8'),
 Row(Total='22'),
 Row(Total='8.1'),
 Row(Total='46.3'),
 Row(Total='42.3'),
 Row(Total='42.2'),
 Row(Total='138.4'),
 Row(Total='142.1'),
 Row(Total='716.2'),
 Row(Total='599.2'),
 Row(Total='852.6'),
 Row(Total='251.2'),
 Row(Total='570'),
 Row(Total='998.3'),
 Row(Total='2.9'),
 Row(Total='26.3'),
 Row(Total='182.2'),
 Row(Total='55.6'),
 Row(Total='133.4'),
 Row(Total='199.6'),
 Row(Total='628'),
 Row(Total='1445.7'),
 Row(Total='244.3'),
 Row(Total='59.4'),
 Row(Total='9430.7'),
 Row(Total='4.5'),
 Row(Total='34.3'),
 Row(Total='0.7'),
 Row(Total='108.1'),
 Row(Total='103.1'),
 Row(Total='480.3'),
 Row(Total='223.1'),
 Row(Total='51.3'),
 Row(Total='172.6'),
 Row(Total='14.8'),
 Row(Total='46.9'),
 Row(Total='17.5'),
 Row(Total='1185.4'),
 Row(Total='333.3'),
 Row(Total='161.6'),
 Row(Total='637.7'),
 Row(Total='689.5'),
 Row(Total='10977.7'),
 Row(Total='16.8'),
 Row(Total='52'),
 Row(Total='16'),
 Row(Total='14.4'),
 Row(Total='89.3'),
 Row(Total='70.7'),
 Row(Total='90.9'),
 Row(Total='153.5'),
 Row(Total='35'),
 Row(Total='47.4'),
 Row(Total='161.3'),
 Row(Total='239.3'),
 Row(Total='140.6'),
 Row(Total='250.1'),
 Row(Total='111.9'),
 Row(Total='135.7'),
 Row(Total='347.7'),
 Row(Total='53.2'),
 Row(Total='79.9'),
 Row(Total='99.3'),
 Row(Total='187.5'),
 Row(Total='2037.9'),
 Row(Total='300.2'),
 Row(Total='179.3'),
 Row(Total='0'),
 Row(Total='24.4'),
 Row(Total='58.9'),
 Row(Total='127.9'),
 Row(Total='481.2'),
 Row(Total='498.6'),
 Row(Total='1582.7'),
 Row(Total='768.6'),
 Row(Total='1354.9'),
 Row(Total='133.8'),
 Row(Total='999.5'),
 Row(Total='582.9'),
 Row(Total='20184.9'),
 Row(Total='6.2'),
 Row(Total='47.9'),
 Row(Total='21.3'),
 Row(Total='19.9'),
 Row(Total='32.9'),
 Row(Total='27.1'),
 Row(Total='49.7'),
 Row(Total='769.8'),
 Row(Total='82.1'),
 Row(Total='530.1'),
 Row(Total='71'),
 Row(Total='9248.5'),
 Row(Total='658.5'),
 Row(Total='0.2'),
 Row(Total='56.6'),
 Row(Total='10.9'),
 Row(Total='139.7'),
 Row(Total='9.6'),
 Row(Total='507.6'),
 Row(Total='298'),
 Row(Total='646.4'),
 Row(Total='647.5'),
 Row(Total='483.6'),
 Row(Total='270.7'),
 Row(Total='95.8'),
 Row(Total='259.7'),
 Row(Total='980'),
 Row(Total='9527.8'),
 Row(Total='6.5'),
 Row(Total='479.6'),
 Row(Total='47'),
 Row(Total='62.5'),
 Row(Total='234.6'),
 Row(Total='29.3'),
 Row(Total='99'),
 Row(Total='629'),
 Row(Total='458'),
 Row(Total='118.2'),
 Row(Total='164.8'),
 Row(Total='54.7'),
 Row(Total='223'),
 Row(Total='35.2'),
 Row(Total='1726.9'),
 Row(Total='19.4'),
 Row(Total='43.3'),
 Row(Total='134.6'),
 Row(Total='595.4'),
 Row(Total='280.7'),
 Row(Total='1770.1'),
 Row(Total='257.4'),
 Row(Total='203.9'),
 Row(Total='255.8'),
 Row(Total='246.9'),
 Row(Total='64.3'),
 Row(Total='1434.9'),
 Row(Total='1257.6'),
 Row(Total='624.5'),
 Row(Total='505.1'),
 Row(Total='20.2'),
 Row(Total='73.2'),
 Row(Total='11.1'),
 Row(Total='107'),
 Row(Total='108.8'),
 Row(Total='265.1'),
 Row(Total='129.3'),
 Row(Total='763.9'),
 Row(Total='2423.7'),
 Row(Total='1209.5'),
 Row(Total='1182.6'),
 Row(Total='824'),
 Row(Total='133.9'),
 Row(Total='210.4'),
 Row(Total='61.8'),
 Row(Total='592.4'),
 Row(Total='116.5'),
 Row(Total='10.8'),
 Row(Total='640.6'),
 Row(Total='426.9'),
 Row(Total='112.3'),
 Row(Total='1061.5'),
 Row(Total='319.9'),
 Row(Total='230.2'),
 Row(Total='448.1'),
 Row(Total='37.3'),
 Row(Total='2.5'),
 Row(Total='2.4'),
 Row(Total='7.5'),
 Row(Total='506.4'),
 Row(Total='58.1'),
 Row(Total='92.9'),
 Row(Total='102.5'),
 Row(Total='18.6'),
 Row(Total='173.7'),
 Row(Total='27.6'),
 Row(Total='121.4'),
 Row(Total='287.6'),
 Row(Total='502.8'),
 Row(Total='68.3'),
 Row(Total='1103.7'),
 Row(Total='76.8'),
 Row(Total='1032.1'),
 Row(Total='5.4'),
 Row(Total='286.3'),
 Row(Total='277.3'),
 Row(Total='36.5'),
 Row(Total='67.9'),
 Row(Total='261.1'),
 Row(Total='32.3'),
 Row(Total='609'),
 Row(Total='298.4'),
 Row(Total='261.9'),
 Row(Total='175.6'),
 Row(Total='559.1'),
 Row(Total='4.9'),
 Row(Total='55.3'),
 Row(Total='65.7'),
 Row(Total='150.5'),
 Row(Total='219.9'),
 Row(Total='1544.1'),
 Row(Total='1238.3'),
 Row(Total='68.8'),
 Row(Total='770.7'),
 Row(Total='797.9'),
 Row(Total='110.4'),
 Row(Total='156.6'),
 Row(Total='121.7'),
 Row(Total='117.3'),
 Row(Total='2989.7'),
 Row(Total='1531.5'),
 Row(Total='1855.1'),
 Row(Total='534.8'),
 Row(Total='190.2'),
 Row(Total='123.8'),
 Row(Total='1024.9'),
 Row(Total='494.7'),
 Row(Total='172.7'),
 Row(Total='36.3'),
 Row(Total='214.2'),
 Row(Total='109.3'),
 Row(Total='317.4'),
 Row(Total='532.9'),
 Row(Total='124.5'),
 Row(Total='29.2'),
 Row(Total='117.6'),
 Row(Total='136.3'),
 Row(Total='295.9'),
 Row(Total='1.6'),
 Row(Total='3.4'),
 Row(Total='7.7'),
 Row(Total='554.8'),
 Row(Total='236.8'),
 Row(Total='161.1'),
 Row(Total='5'),
 Row(Total='54.9'),
 Row(Total='510.1'),
 Row(Total='275.1'),
 Row(Total='65.8'),
 Row(Total='45.7'),
 Row(Total='25.3'),
 Row(Total='815'),
 Row(Total='31'),
 Row(Total='71.3'),
 Row(Total='466.3'),
 Row(Total='779.7'),
 Row(Total='297.4'),
 Row(Total='51.5'),
 Row(Total='43.1'),
 Row(Total='100'),
 Row(Total='17.8'),
 Row(Total='153.9'),
 Row(Total='1298.1'),
 Row(Total='664.7'),
 Row(Total='738.7'),
 Row(Total='147.7'),
 Row(Total='527.7'),
 Row(Total='223.3'),
 Row(Total='66.6'),
 Row(Total='22.9'),
 Row(Total='472.9'),
 Row(Total='213.2'),
 Row(Total='929.3'),
 Row(Total='29.1'),
 Row(Total='7.1'),
 Row(Total='175.9'),
 Row(Total='51.9'),
 Row(Total='81.5'),
 Row(Total='85.6'),
 Row(Total='73.9'),
 Row(Total='21.2'),
 Row(Total='107.4'),
 Row(Total='34.5'),
 Row(Total='298.3'),
 Row(Total='1254'),
 Row(Total='132.1'),
 Row(Total='80.6'),
 Row(Total='82.9'),
 Row(Total='69.5'),
 Row(Total='18'),
 Row(Total='18.2'),
 Row(Total='95.3'),
 Row(Total='249.5'),
 Row(Total='87.8'),
 Row(Total='75.4'),
 Row(Total='89.7'),
 Row(Total='25.1'),
 Row(Total='213.7'),
 Row(Total='370.8'),
 Row(Total='481'),
 Row(Total='554.2'),
 Row(Total='121.6'),
 Row(Total='167.8'),
 Row(Total='5.7'),
 Row(Total='31.7'),
 Row(Total='31.6'),
 Row(Total='0.8'),
 Row(Total='52.4'),
 Row(Total='70'),
 Row(Total='324.8'),
 Row(Total='605.6'),
 Row(Total='120.2'),
 Row(Total='137.5'),
 Row(Total='467.7'),
 Row(Total='376.1'),
 Row(Total='154.9'),
 Row(Total='363.8'),
 Row(Total='3.3'),
 Row(Total='1.8'),
 Row(Total='52.1'),
 Row(Total='84.4'),
 Row(Total='625.3'),
 Row(Total='272.6'),
 Row(Total='597.8'),
 Row(Total='188.2'),
 Row(Total='110.5'),
 Row(Total='174.7'),
 Row(Total='497.9'),
 Row(Total='87.4'),
 Row(Total='528.5'),
 Row(Total='761'),
 Row(Total='239.4'),
 Row(Total='168'),
 Row(Total='278.5'),
 Row(Total='276.6'),
 Row(Total='177.1'),
 Row(Total='543.9'),
 Row(Total='184.2'),
 Row(Total='54.1'),
 Row(Total='55.9'),
 Row(Total='31.2'),
 Row(Total='63.7'),
 Row(Total='144.2'),
 Row(Total='364'),
 Row(Total='430.7'),
 Row(Total='224'),
 Row(Total='116.4'),
 Row(Total='508.6'),
 Row(Total='5.3'),
 Row(Total='168.8'),
 Row(Total='27'),
 Row(Total='170.9'),
 Row(Total='45.2'),
 Row(Total='215.5'),
 Row(Total='138.1'),
 Row(Total='61'),
 Row(Total='649.1'),
 Row(Total='79.8'),
 Row(Total='129.7'),
 Row(Total='152.7'),
 Row(Total='324.2'),
 Row(Total='13.8'),
 Row(Total='12.9'),
 Row(Total='100.2'),
 Row(Total='75'),
 Row(Total='639'),
 Row(Total='1542.9'),
 Row(Total='499.1'),
 Row(Total='178.8'),
 Row(Total='558.1'),
 Row(Total='10976.6'),
 Row(Total='789.3'),
 Row(Total='590.7'),
 Row(Total='202.4'),
 Row(Total='18.5'),
 Row(Total='97.5'),
 Row(Total='203.5'),
 Row(Total='93.1'),
 Row(Total='150.6'),
 Row(Total='580.3'),
 Row(Total='166.6'),
 Row(Total='56.3'),
 Row(Total='28.4'),
 Row(Total='75.6'),
 Row(Total='70.8'),
 Row(Total='119.3'),
 Row(Total='273.7'),
 Row(Total='1294'),
 Row(Total='509.4'),
 Row(Total='1113.7'),
 Row(Total='446.3'),
 Row(Total='804.9'),
 Row(Total='31.1'),
 Row(Total='11.8'),
 Row(Total='291.1'),
 Row(Total='10.2'),
 Row(Total='13.3'),
 Row(Total='17'),
 Row(Total='78.5'),
 Row(Total='519.6'),
 Row(Total='229.6'),
 Row(Total='37.5'),
 Row(Total='2481'),
 Row(Total='26'),
 Row(Total='63.3'),
 Row(Total='107.1'),
 Row(Total='541.3'),
 Row(Total='124.3'),
 Row(Total='485.3'),
 Row(Total='28.8'),
 Row(Total='16.1'),
 Row(Total='639.4'),
 Row(Total='44.4'),
 Row(Total='111.5'),
 Row(Total='143.3'),
 Row(Total='10.3'),
 Row(Total='138.9'),
 Row(Total='103.4'),
 Row(Total='335.8'),
 Row(Total='34.2'),
 Row(Total='190.1'),
 Row(Total='120'),
 Row(Total='1456.9'),
 Row(Total='419.1'),
 Row(Total='177.2'),
 Row(Total='545.7'),
 Row(Total='10782.5'),
 Row(Total='753.2'),
 Row(Total='761.5'),
 Row(Total='3.5'),
 Row(Total='4.3'),
 Row(Total='184.5'),
 Row(Total='66.3'),
 Row(Total='581.7'),
 Row(Total='359.7'),
 Row(Total='360.3'),
 Row(Total='533.2'),
 Row(Total='123.2'),
 Row(Total='558.5'),
 Row(Total='677.9'),
 Row(Total='1709.8'),
 Row(Total='709.4'),
 Row(Total='209.6'),
 Row(Total='317.2'),
 Row(Total='556.3'),
 Row(Total='29.9'),
 Row(Total='46'),
 Row(Total='85.4'),
 Row(Total='85.1'),
 Row(Total='1485.9'),
 Row(Total='278.3'),
 Row(Total='23.3'),
 Row(Total='833.7'),
 Row(Total='84.2'),
 Row(Total='233.9'),
 Row(Total='75.8'),
 Row(Total='493.8'),
 Row(Total='1479.8'),
 Row(Total='247.3'),
 Row(Total='33.3'),
 Row(Total='19.2'),
 Row(Total='130'),
 Row(Total='782.3'),
 Row(Total='1110.7'),
 Row(Total='535'),
 Row(Total='297.1'),
 Row(Total='225.4'),
 Row(Total='324.5'),
 Row(Total='4.8'),
 Row(Total='51.4'),
 Row(Total='8.9'),
 Row(Total='328.9'),
 Row(Total='83.1'),
 Row(Total='1513.5'),
 Row(Total='12.6'),
 Row(Total='9.1'),
 Row(Total='108.7'),
 Row(Total='64.2'),
 Row(Total='173.5'),
 Row(Total='164'),
 Row(Total='11.3'),
 Row(Total='584.6'),
 Row(Total='293.2'),
 Row(Total='101.8'),
 Row(Total='196.2'),
 Row(Total='76.5'),
 Row(Total='86.2'),
 Row(Total='243.1'),
 Row(Total='78'),
 Row(Total='9.5'),
 Row(Total='164.1'),
 Row(Total='57.3'),
 Row(Total='128.1'),
 Row(Total='479.2'),
 Row(Total='310.1'),
 Row(Total='10830.9'),
 Row(Total='696.1'),
 Row(Total='2567.7'),
 Row(Total='11.5'),
 Row(Total='51.7'),
 Row(Total='7.4'),
 Row(Total='233.5'),
 Row(Total='730.7'),
 Row(Total='1832'),
 Row(Total='487.1'),
 Row(Total='94.2'),
 Row(Total='34.8'),
 Row(Total='272.7'),
 Row(Total='89'),
 Row(Total='68.9'),
 Row(Total='495.4'),
 Row(Total='74.5'),
 Row(Total='571.2'),
 Row(Total='77'),
 Row(Total='240.7'),
 Row(Total='4.1'),
 Row(Total='198'),
 Row(Total='18.8'),
 Row(Total='56.7'),
 Row(Total='285.7'),
 Row(Total='188.5'),
 Row(Total='482.6'),
 Row(Total='1041.9'),
 Row(Total='35.7'),
 Row(Total='5.6'),
 Row(Total='6'),
 Row(Total='294.2'),
 Row(Total='75.7'),
 Row(Total='559.2'),
 Row(Total='86.6'),
 Row(Total='112.1'),
 Row(Total='71.2'),
 Row(Total='534.4'),
 Row(Total='1.4'),
 Row(Total='17.7'),
 Row(Total='26.4'),
 Row(Total='220.2'),
 Row(Total='26.2'),
 Row(Total='266.7'),
 Row(Total='379.6'),
 Row(Total='459.8'),
 Row(Total='530.7'),
 Row(Total='38.1'),
 Row(Total='70.6'),
 Row(Total='83.2'),
 Row(Total='149.6'),
 Row(Total='83.8'),
 Row(Total='104.6'),
 Row(Total='82.6'),
 Row(Total='9799.6'),
 Row(Total='1792.7'),
 Row(Total='279.6'),
 Row(Total='197.6'),
 Row(Total='129.6'),
 Row(Total='521.4'),
 Row(Total='1502.4'),
 Row(Total='287.3'),
 Row(Total='1075.1'),
 Row(Total='25.8'),
 Row(Total='489.4'),
 Row(Total='24.1'),
 Row(Total='13.6'),
 Row(Total='91.5'),
 Row(Total='131.7'),
 Row(Total='95.1'),
 Row(Total='1880.1'),
 Row(Total='899.3'),
 Row(Total='38.6'),
 Row(Total='223.8'),
 Row(Total='613.8'),
 Row(Total='26.6'),
 Row(Total='20.7'),
 Row(Total='1770.5'),
 Row(Total='13.7'),
 Row(Total='79.2'),
 Row(Total='165.1'),
 Row(Total='53.4'),
 Row(Total='99.8'),
 Row(Total='1931.2'),
 Row(Total='691.9'),
 Row(Total='21.7'),
 Row(Total='228.8'),
 Row(Total='201.1'),
 Row(Total='247.1'),
 Row(Total='72.3'),
 Row(Total='239.8'),
 Row(Total='4.6'),
 Row(Total='18.7'),
 Row(Total='99.7'),
 Row(Total='197.3'),
 Row(Total='11.9'),
 Row(Total='1203.1'),
 Row(Total='1437.5'),
 Row(Total='1172.9'),
 Row(Total='344'),
 Row(Total='153.6'),
 Row(Total='1878.4'),
 Row(Total='20084.7'),
 Row(Total='90'),
 Row(Total='229'),
 Row(Total='109.4'),
 Row(Total='63.9'),
 Row(Total='413'),
 Row(Total='60'),
 Row(Total='244'),
 Row(Total='90.3'),
 Row(Total='256.4'),
 Row(Total='68'),
 Row(Total='1061.1'),
 Row(Total='978'),
 Row(Total='246'),
 Row(Total='450.3'),
 Row(Total='47.2'),
 Row(Total='113.1'),
 Row(Total='56.1'),
 Row(Total='1282.7'),
 Row(Total='538.4'),
 Row(Total='1140.8'),
 Row(Total='1025.7'),
 Row(Total='490.8'),
 Row(Total='326.3'),
 Row(Total='581.9'),
 Row(Total='57.7'),
 Row(Total='158.8'),
 Row(Total='829.6'),
 Row(Total='1361.9'),
 Row(Total='19'),
 Row(Total='23.6'),
 Row(Total='37.8'),
 Row(Total='40.5'),
 Row(Total='104.4'),
 Row(Total='68.4'),
 Row(Total='248.7'),
 Row(Total='219.3'),
 Row(Total='833.5'),
 Row(Total='137.9'),
 Row(Total='1899.3'),

In [ ]:
df.orderBy('Total').show()

+--------------------+-----------+--------------+------+-----+
|                Cnae|       Sexo|        Unidad| Fecha|Total|
+--------------------+-----------+--------------+------+-----+
|05 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2023T4|     |
|09 Actividades de...|Ambos sexos|Valor absoluto|2021T4|     |
|05 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2023T3|     |
|05 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2023T1|     |
|05 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2022T4|     |
|05 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2022T3|     |
|05 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2022T1|     |
|05 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2023T4|     |
|05 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2023T3|     |
|05 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2023T1|     |
|05 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2022T4|     |
|05 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2022T3|     |
|05 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2022T1|     |
|06 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2023T4|     |
|06 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2023T3|     |
|06 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2023T4|     |
|06 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2023T3|     |
|07 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2022T4|     |
|07 ExtracciÃ³n de ...|    Mujeres|Valor absoluto|2021T1|     |
|07 ExtracciÃ³n de ...|    Mujeres|    Porcentaje|2022T4|     |
+--------------------+-----------+--------------+------+-----+
only showing top 20 rows

In [ ]:
df.show()

+-----+-----------+--------------+------+-------+
| Cnae|       Sexo|        Unidad| Fecha|  Total|
+-----+-----------+--------------+------+-------+
|Total|Ambos sexos|Valor absoluto|2023T4|21246.9|
|Total|Ambos sexos|Valor absoluto|2023T3|21265.9|
|Total|Ambos sexos|Valor absoluto|2023T2|21056.7|
|Total|Ambos sexos|Valor absoluto|2023T1|20452.8|
|Total|Ambos sexos|Valor absoluto|2022T4|20463.9|
|Total|Ambos sexos|Valor absoluto|2022T3|20545.7|
|Total|Ambos sexos|Valor absoluto|2022T2|  20468|
|Total|Ambos sexos|Valor absoluto|2022T1|20084.7|
|Total|Ambos sexos|Valor absoluto|2021T4|20184.9|
|Total|Ambos sexos|Valor absoluto|2021T3|  20031|
|Total|Ambos sexos|Valor absoluto|2021T2|19671.7|
|Total|Ambos sexos|Valor absoluto|2021T1|19206.8|
|Total|Ambos sexos|    Porcentaje|2023T4|    100|
|Total|Ambos sexos|    Porcentaje|2023T3|    100|
|Total|Ambos sexos|    Porcentaje|2023T2|    100|
|Total|Ambos sexos|    Porcentaje|2023T1|    100|
|Total|Ambos sexos|    Porcentaje|2022T4|    100|
|Total|Ambos sexos|    Porcentaje|2022T3|    100|
|Total|Ambos sexos|    Porcentaje|2022T2|    100|
|Total|Ambos sexos|    Porcentaje|2022T1|    100|
+-----+-----------+--------------+------+-------+
only showing top 20 rows

In [ ]:
df = df.withColumn('Total', df['Total'].cast('Double'))

In [ ]:
df.printSchema()

root
 |-- Cnae: string (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Unidad: string (nullable = true)
 |-- Fecha: string (nullable = true)
 |-- Total: double (nullable = true)

In [ ]:
df.where(df['Total'].isNull()).count(), df.count()

(128, 7920)

In [ ]:
df.select('Total').distinct().collect()

[Row(Total=15.5),
 Row(Total=49.8),
 Row(Total=13.4),
 Row(Total=98.3),
 Row(Total=64.2),
 Row(Total=76.4),
 Row(Total=56.8),
 Row(Total=558.5),
 Row(Total=229.6),
 Row(Total=322.6),
 Row(Total=14.9),
 Row(Total=733.6),
 Row(Total=74.5),
 Row(Total=26.7),
 Row(Total=69.8),
 Row(Total=299.8),
 Row(Total=277.3),
 Row(Total=15.4),
 Row(Total=170.0),
 Row(Total=239.1),
 Row(Total=1486.1),
 Row(Total=47.5),
 Row(Total=558.1),
 Row(Total=2.4),
 Row(Total=131.2),
 Row(Total=243.6),
 Row(Total=78.9),
 Row(Total=173.7),
 Row(Total=53.3),
 Row(Total=123.2),
 Row(Total=426.9),
 Row(Total=37.1),
 Row(Total=161.5),
 Row(Total=161.4),
 Row(Total=454.9),
 Row(Total=72.3),
 Row(Total=926.8),
 Row(Total=1381.4),
 Row(Total=1289.7),
 Row(Total=19671.7),
 Row(Total=10608.5),
 Row(Total=15.7),
 Row(Total=10.2),
 Row(Total=45.3),
 Row(Total=67.0),
 Row(Total=55.8),
 Row(Total=96.8),
 Row(Total=8.0),
 Row(Total=70.0),
 Row(Total=553.2),
 Row(Total=656.8),
 Row(Total=1122.2),
 Row(Total=25.1),
 Row(Total=212.2),
 Row(Total=187.5),
 Row(Total=153.6),
 Row(Total=83.6),
 Row(Total=379.0),
 Row(Total=241.5),
 Row(Total=24.7),
 Row(Total=50.9),
 Row(Total=18.3),
 Row(Total=56.5),
 Row(Total=44.8),
 Row(Total=32.3),
 Row(Total=1510.7),
 Row(Total=528.5),
 Row(Total=203.5),
 Row(Total=589.6),
 Row(Total=49.9),
 Row(Total=168.0),
 Row(Total=135.7),
 Row(Total=318.2),
 Row(Total=0.0),
 Row(Total=69.0),
 Row(Total=58.9),
 Row(Total=117.4),
 Row(Total=1109.1),
 Row(Total=761.2),
 Row(Total=333.4),
 Row(Total=198.8),
 Row(Total=167.1),
 Row(Total=1077.7),
 Row(Total=1513.5),
 Row(Total=954.9),
 Row(Total=46.4),
 Row(Total=66.3),
 Row(Total=43.3),
 Row(Total=83.5),
 Row(Total=26.4),
 Row(Total=1496.0),
 Row(Total=1144.9),
 Row(Total=545.5),
 Row(Total=17.9),
 Row(Total=86.9),
 Row(Total=1353.5),
 Row(Total=571.2),
 Row(Total=98.1),
 Row(Total=514.1),
 Row(Total=324.5),
 Row(Total=557.3),
 Row(Total=729.0),
 Row(Total=827.7),
 Row(Total=5.4),
 Row(Total=16.6),
 Row(Total=11.4),
 Row(Total=193.1),
 Row(Total=94.9),
 Row(Total=336.2),
 Row(Total=541.5),
 Row(Total=494.7),
 Row(Total=23.8),
 Row(Total=116.3),
 Row(Total=7.0),
 Row(Total=50.3),
 Row(Total=249.0),
 Row(Total=117.1),
 Row(Total=112.9),
 Row(Total=65.4),
 Row(Total=90.3),
 Row(Total=1045.5),
 Row(Total=183.7),
 Row(Total=1535.4),
 Row(Total=699.0),
 Row(Total=76.5),
 Row(Total=24.9),
 Row(Total=73.5),
 Row(Total=59.5),
 Row(Total=55.6),
 Row(Total=144.1),
 Row(Total=142.0),
 Row(Total=133.6),
 Row(Total=655.2),
 Row(Total=612.5),
 Row(Total=15.9),
 Row(Total=681.9),
 Row(Total=401.6),
 Row(Total=323.7),
 Row(Total=472.9),
 Row(Total=369.9),
 Row(Total=1438.0),
 Row(Total=37.4),
 Row(Total=11.5),
 Row(Total=95.9),
 Row(Total=140.2),
 Row(Total=66.2),
 Row(Total=191.0),
 Row(Total=223.6),
 Row(Total=1878.4),
 Row(Total=359.1),
 Row(Total=3.5),
 Row(Total=31.7),
 Row(Total=36.2),
 Row(Total=70.2),
 Row(Total=71.6),
 Row(Total=78.4),
 Row(Total=510.1),
 Row(Total=112.0),
 Row(Total=62.9),
 Row(Total=87.9),
 Row(Total=41.6),
 Row(Total=6.1),
 Row(Total=47.9),
 Row(Total=212.9),
 Row(Total=124.9),
 Row(Total=119.7),
 Row(Total=113.6),
 Row(Total=9.5),
 Row(Total=554.7),
 Row(Total=86.6),
 Row(Total=79.1),
 Row(Total=219.9),
 Row(Total=479.8),
 Row(Total=382.1),
 Row(Total=1836.0),
 Row(Total=11.6),
 Row(Total=509.2),
 Row(Total=49.7),
 Row(Total=640.6),
 Row(Total=164.5),
 Row(Total=461.4),
 Row(Total=956.9),
 Row(Total=232.0),
 Row(Total=167.7),
 Row(Total=69.1),
 Row(Total=20463.9),
 Row(Total=167.5),
 Row(Total=181.1),
 Row(Total=170.9),
 Row(Total=83.3),
 Row(Total=112.5),
 Row(Total=814.9),
 Row(Total=158.1),
 Row(Total=596.4),
 Row(Total=590.7),
 Row(Total=31.1),
 Row(Total=7.7),
 Row(Total=38.5),
 Row(Total=117.3),
 Row(Total=95.1),
 Row(Total=280.7),
 Row(Total=599.9),
 Row(Total=156.9),
 Row(Total=9354.1),
 Row(Total=23.9),
 Row(Total=26.6),
 Row(Total=108.2),
 Row(Total=158.8),
 Row(Total=43.6),
 Row(Total=398.5),
 Row(Total=167.8),
 Row(Total=74.4),
 Row(Total=0.2),
 Row(Total=25.2),
 Row(Total=31.6),
 Row(Total=272.7),
 Row(Total=1282.7),
 Row(Total=3115.9),
 Row(Total=283.4),
 Row(Total=1857.8),
 Row(Total=849.4),
 Row(Total=393.4),
 Row(Total=42.9),
 Row(Total=1495.0),
 Row(Total=1472.1),
 Row(Total=1473.9),
 Row(Total=270.2),
 Row(Total=20.5),
 Row(Total=46.9),
 Row(Total=107.7),
 Row(Total=103.1),
 Row(Total=6.6),
 Row(Total=1185.2),
 Row(Total=1191.5),
 Row(Total=1158.6),
 Row(Total=331.0),
 Row(Total=191.7),
 Row(Total=128.5),
 Row(Total=93.1),
 Row(Total=253.0),
 Row(Total=793.5),
 Row(Total=34.7),
 Row(Total=222.8),
 Row(Total=1829.8),
 Row(Total=92.4),
 Row(Total=3168.3),
 Row(Total=128.0),
 Row(Total=1074.4),
 Row(Total=592.4),
 Row(Total=201.2),
 Row(Total=158.7),
 Row(Total=582.9),
 Row(Total=749.7),
 Row(Total=58.7),
 Row(Total=58.6),
 Row(Total=80.9),
 Row(Total=89.3),
 Row(Total=288.5),
 Row(Total=1154.6),
 Row(Total=633.9),
 Row(Total=272.3),
 Row(Total=534.4),
 Row(Total=440.5),
 Row(Total=215.5),
 Row(Total=41.3),
 Row(Total=3051.5),
 Row(Total=540.2),
 Row(Total=544.2),
 Row(Total=108.0),
 Row(Total=348.8),
 Row(Total=580.3),
 Row(Total=359.7),
 Row(Total=947.7),
 Row(Total=324.2),
 Row(Total=192.4),
 Row(Total=35.3),
 Row(Total=8.7),
 Row(Total=13.3),
 Row(Total=91.5),
 Row(Total=1154.2),
 Row(Total=138.9),
 Row(Total=2989.7),
 Row(Total=317.9),
 Row(Total=761.8),
 Row(Total=527.7),
 Row(Total=1375.2),
 Row(Total=68.8),
 Row(Total=624.5),
 Row(Total=168.8),
 Row(Total=28.8),
 Row(Total=2447.4),
 Row(Total=279.6),
 Row(Total=18.9),
 Row(Total=31.5),
 Row(Total=116.9),
 Row(Total=97.5),
 Row(Total=507.7),
 Row(Total=79.8),
 Row(Total=2.9),
 Row(Total=15.1),
 Row(Total=2489.3),
 Row(Total=52.5),
 Row(Total=67.5),
 Row(Total=234.0),
 Row(Total=248.6),
 Row(Total=131.1),
 Row(Total=3.7),
 Row(Total=19.7),
 Row(Total=83.8),
 Row(Total=672.0),
 Row(Total=692.6),
 Row(Total=116.8),
 Row(Total=133.0),
 Row(Total=1456.9),
 Row(Total=1061.1),
 Row(Total=297.4),
 Row(Total=202.5),
 Row(Total=85.5),
 Row(Total=44.5),
 Row(Total=55.2),
 Row(Total=70.7),
 Row(Total=105.8),
 Row(Total=622.7),
 Row(Total=1516.2),
 Row(Total=77.1),
 Row(Total=347.1),
 Row(Total=132.5),
 Row(Total=993.2),
 Row(Total=4.5),
 Row(Total=280.0),
 Row(Total=62.4),
 Row(Total=21.4),
 Row(Total=10.3),
 Row(Total=99.6),
 Row(Total=150.1),
 Row(Total=88.0),
 Row(Total=235.3),
 Row(Total=1367.8),
 Row(Total=230.2),
 Row(Total=245.2),
 Row(Total=49.0),
 Row(Total=226.3),
 Row(Total=156.6),
 Row(Total=89.5),
 Row(Total=75.6),
 Row(Total=542.0),
 Row(Total=26.8),
 Row(Total=233.6),
 Row(Total=255.7),
 Row(Total=155.0),
 Row(Total=446.3),
 Row(Total=250.4),
 Row(Total=10924.9),
 Row(Total=453.1),
 Row(Total=19.9),
 Row(Total=551.7),
 Row(Total=99.8),
 Row(Total=1880.1),
 Row(Total=63.4),
 Row(Total=124.3),
 Row(Total=1427.9),
 Row(Total=116.4),
 Row(Total=74.2),
 Row(Total=5.7),
 Row(Total=32.7),
 Row(Total=723.3),
 Row(Total=236.5),
 Row(Total=50.1),
 Row(Total=82.5),
 Row(Total=69.3),
 Row(Total=916.0),
 Row(Total=121.5),
 Row(Total=66.5),
 Row(Total=484.6),
 Row(Total=88.8),
 Row(Total=1.4),
 Row(Total=65.3),
 Row(Total=31.9),
 Row(Total=1582.7),
 Row(Total=1203.2),
 Row(Total=1078.2),
 Row(Total=579.7),
 Row(Total=230.4),
 Row(Total=542.2),
 Row(Total=45.6),
 Row(Total=399.5),
 Row(Total=172.7),
 Row(Total=10791.3),
 Row(Total=2481.0),
 Row(Total=705.0),
 Row(Total=26.1),
 Row(Total=176.4),
 Row(Total=101.0),
 Row(Total=81.3),
 Row(Total=52.3),
 Row(Total=45.4),
 Row(Total=86.4),
 Row(Total=50.8),
 Row(Total=495.4),
 Row(Total=480.3),
 Row(Total=1437.5),
 Row(Total=342.0),
 Row(Total=167.0),
 Row(Total=80.6),
 Row(Total=1274.4),
 Row(Total=182.0),
 Row(Total=1.7),
 Row(Total=6.7),
 Row(Total=20.2),
 Row(Total=184.5),
 Row(Total=40.5),
 Row(Total=221.3),
 Row(Total=107.0),
 Row(Total=191.9),
 Row(Total=413.0),
 Row(Total=559.2),
 Row(Total=581.7),
 Row(Total=29.0),
 Row(Total=61.7),
 Row(Total=33.1),
 Row(Total=1806.1),
 Row(Total=66.4),
 Row(Total=64.0),
 Row(Total=137.3),
 Row(Total=89.2),
 Row(Total=208.4),
 Row(Total=234.6),
 Row(Total=75.0),
 Row(Total=602.0),
 Row(Total=236.8),
 Row(Total=64.9),
 Row(Total=178.8),
 Row(Total=587.0),
 Row(Total=656.3),
 Row(Total=998.3),
 Row(Total=1268.3),
 Row(Total=0.7),
 Row(Total=15.8),
 Row(Total=47.0),
 Row(Total=110.4),
 Row(Total=92.8),
 Row(Total=57.6),
 Row(Total=1538.2),
 Row(Total=538.4),
 Row(Total=45.1),
 Row(Total=54.7),
 Row(Total=127.6),
 Row(Total=9430.7),
 Row(Total=9063.1),
 Row(Total=2.3),
 Row(Total=42.0),
 Row(Total=78.3),
 Row(Total=84.4),
 Row(Total=7.4),
 Row(Total=102.3),
 Row(Total=94.3),
 Row(Total=1324.8),
 Row(Total=103.6),
 Row(Total=1232.1),
 Row(Total=24.5),
 Row(Total=240.7),
 Row(Total=412.0),
 Row(Total=656.2),
 Row(Total=44.9),
 Row(Total=221.9),
 Row(Total=27.3),
 Row(Total=85.1),
 Row(Total=68.4),
 Row(Total=84.1),
 Row(Total=223.8),
 Row(Total=953.4),
 Row(Total=6.5),
 Row(Total=1822.3),
 Row(Total=13.8),
 Row(Total=81.5),
 Row(Total=57.1),
 Row(Total=161.9),
 Row(Total=87.8),
 Row(Total=89.7),
 Row(Total=479.9),
 Row(Total=1172.9),
 Row(Total=899.3),
 Row(Total=848.2),
 Row(Total=322.1),
 Row(Total=2393.3),
 Row(Total=45.2),
 Row(Total=17.7),
 Row(Total=1285.9),
 Row(Total=1199.4),
 Row(Total=49.6),
 Row(Total=44.0),
 Row(Total=608.3),
 Row(Total=87.6),
 Row(Total=497.6),
 Row(Total=236.0),
 Row(Total=381.9),
 Row(Total=None),
 Row(Total=1791.2),
 Row(Total=156.8),
 Row(Total=21.2),
 Row(Total=32.1),
 Row(Total=35.0),
 Row(Total=1499.3),
 Row(Total=165.7),
 Row(Total=419.1),
 Row(Total=434.5),
 Row(Total=241.3),
 Row(Total=459.8),
 Row(Total=0.1),
 Row(Total=51.7),
 Row(Total=19.6),
 Row(Total=1077.5),
 Row(Total=998.5),
 Row(Total=378.0),
 Row(Total=1493.9),
 Row(Total=980.0),
 Row(Total=30.6),
 Row(Total=3.4),
 Row(Total=21.1),
 Row(Total=49.1),
 Row(Total=104.6),
 Row(Total=727.3),
 Row(Total=692.2),
 Row(Total=213.7),
 Row(Total=721.0),
 Row(Total=476.2),
 Row(Total=51.3),
 Row(Total=18.0),
 Row(Total=16.1),
 Row(Total=104.2),
 Row(Total=22.4),
 Row(Total=481.2),
 Row(Total=543.2),
 Row(Total=275.0),
 Row(Total=761.0),
 Row(Total=233.9),
 Row(Total=636.7),
 Row(Total=9491.4),
 Row(Total=170.8),
 Row(Total=173.6),
 Row(Total=1546.0),
 Row(Total=1992.5),
 Row(Total=223.3),
 Row(Total=105.4),
 Row(Total=24.4),
 Row(Total=48.4),
 Row(Total=86.0),
 Row(Total=19.2),
 Row(Total=259.2),
 Row(Total=39.3),
 Row(Total=145.9),
 Row(Total=450.8),
 Row(Total=68.3),
 Row(Total=79.3),
 Row(Total=268.4),
 Row(Total=1770.5),
 Row(Total=17.1),
 Row(Total=261.1),
 Row(Total=77.8),
 Row(Total=220.2),
 Row(Total=137.9),
 Row(Total=120.0),
 Row(Total=408.6),
 Row(Total=1556.6),
 Row(Total=10782.5),
 Row(Total=196.2),
 Row(Total=59.3),
 Row(Total=102.5),
 Row(Total=20.8),
 Row(Total=90.1),
 Row(Total=1561.1),
 Row(Total=571.5),
 Row(Total=33.9),
 Row(Total=16.7),
 Row(Total=51.8),
 Row(Total=64.5),
 Row(Total=53.2),
 Row(Total=38.8),
 Row(Total=289.9),
 Row(Total=513.0),
 Row(Total=476.8),
 Row(Total=136.3),
 Row(Total=257.6),
 Row(Total=40.4),
 Row(Total=1391.6),
 Row(Total=1530.1),
 Row(Total=2037.9),
 Row(Total=62.3),
 Row(Total=29.7),
 Row(Total=16.5),
 Row(Total=23.6),
 Row(Total=22.1),
 Row(Total=42.3),
 Row(Total=110.9),
 Row(Total=266.7),
 Row(Total=478.4),
 Row(Total=39.9),
 Row(Total=229.0),
 Row(Total=76.2),
 Row(Total=79.7),
 Row(Total=499.1),
 Row(Total=95.8),
 Row(Total=315.1),
 Row(Total=9486.2),
 Row(Total=24.1),
 Row(Total=1834.7),
 Row(Total=12.8),
 Row(Total=555.9),
 Row(Total=482.3),
 Row(Total=544.5),
 Row(Total=133.9),
 Row(Total=33.5),
 Row(Total=4.9),
 Row(Total=653.2),
 Row(Total=464.1),
 Row(Total=54.6),
 Row(Total=8.4),
 Row(Total=73.4),
 Row(Total=1261.8),
 Row(Total=1515.3),
 Row(Total=1264.6),
 Row(Total=993.0),
 Row(Total=541.3),
 Row(Total=535.0),
 Row(Total=152.5),
 Row(Total=748.2),
 Row(Total=165.6),
 Row(Total=139.7),
 Row(Total=63.5),
 Row(Total=471.4),
 Row(Total=355.5),
 Row(Total=193.4),
 Row(Total=55.4),
 Row(Total=268.6),
 Row(Total=574.0),
 Row(Total=2.5),
 Row(Total=60.7),
 Row(Total=118.5),
 Row(Total=554.8),
 Row(Total=722.5),
 Row(Total=272.0),
 Row(Total=26.2),
 Row(Total=352.2),
 Row(Total=259.7),
 Row(Total=747.1),
 Row(Total=248.5),
 Row(Total=16.8),
 Row(Total=143.5),
 Row(Total=1209.5),
 Row(Total=497.9),
 Row(Total=591.9),
 Row(Total=23.2),
 Row(Total=34.5),
 Row(Total=833.7),
 Row(Total=824.0),
 Row(Total=455.1),
 Row(Total=90.8),
 Row(Total=261.7),
 Row(Total=176.5),
 Row(Total=1032.1),
 Row(Total=234.4),
 Row(Total=267.8),
 Row(Total=498.7),
 Row(Total=1.0),
 Row(Total=2548.2),
 Row(Total=39.0),
 Row(Total=126.1),
 Row(Total=1316.3),
 Row(Total=664.1),
 Row(Total=130.3),
 Row(Total=378.7),
 Row(Total=1461.5),
 Row(Total=244.3),
 Row(Total=314.2),
 Row(Total=2567.7),
 Row(Total=62.7),
 Row(Total=28.7),
 Row(Total=163.6),
 Row(Total=25.4),
 Row(Total=87.3),
 Row(Total=9.8),
 Row(Total=63.7),
 Row(Total=1745.5),
 Row(Total=709.4),
 Row(Total=484.3),
 Row(Total=221.2),
 Row(Total=154.3),
 Row(Total=1409.3),
 Row(Total=479.2),
 Row(Total=244.4),
 Row(Total=64.8),
 Row(Total=48.8),
 Row(Total=231.8),
 Row(Total=49.3),
 Row(Total=104.4),
 Row(Total=795.3),
 Row(Total=647.5),
 Row(Total=127.3),
 Row(Total=944.9),
 Row(Total=35.9),
 Row(Total=1830.2),
 Row(Total=85.3),
 Row(Total=17.5),
 Row(Total=315.8),
 Row(Total=126.8),
 Row(Total=346.2),
 Row(Total=24.2),
 Row(Total=23.1),
 Row(Total=0.6),
 Row(Total=12.3),
 Row(Total=203.4),
 Row(Total=46.2),
 Row(Total=44.2),
 Row(Total=34.6),
 Row(Total=18.4),
 Row(Total=48.2),
 Row(Total=22.9),
 Row(Total=94.0),
 Row(Total=161.6),
 Row(Total=467.3),
 Row(Total=34.3),
 Row(Total=18.5),
 Row(Total=12.1),
 Row(Total=3.1),
 Row(Total=82.2),
 Row(Total=67.3),
 Row(Total=2923.4),
 Row(Total=1855.1),
 Row(Total=1709.8),
 Row(Total=210.9),
 Row(Total=118.8),
 Row(Total=69.4),
 Row(Total=247.3),
 Row(Total=811.1),
 Row(Total=179.3),
 Row(Total=559.1),
 Row(Total=48.3),
 Row(Total=1255.0),
 Row(Total=253.1),
 Row(Total=1443.1),
 Row(Total=641.5),
 Row(Total=34.8),
 Row(Total=588.1),
 Row(Total=21.3),
 Row(Total=96.5),
 Row(Total=114.0),
 Row(Total=68.9),
 Row(Total=502.9),
 Row(Total=20.1),
 Row(Total=24.3),
 Row(Total=1024.9),
 Row(Total=274.3),
 Row(Total=19.1),
 Row(Total=1726.9),
 Row(Total=12.9),
 Row(Total=13.9),
 Row(Total=1378.5),
 Row(Total=271.8),
 Row(Total=1656.9),
 Row(Total=481.0),
 Row(Total=297.1),
 Row(Total=485.3),
 Row(Total=303.5),
 Row(Total=20468.0),
 Row(Total=761.5),
 Row(Total=763.9),
 Row(Total=2.7),
 Row(Total=0.8),
 Row(Total=37.0),
 Row(Total=93.2),
 Row(Total=89.8),
 Row(Total=75.1),
 Row(Total=127.1),
 Row(Total=683.3),
 Row(Total=34.0),
 Row(Total=553.1),
 Row(Total=152.7),
 Row(Total=534.3),
 Row(Total=725.9),
 Row(Total=55.3),
 Row(Total=49.5),
 Row(Total=22.7),
 Row(Total=14.2),
 Row(Total=64.6),
 Row(Total=239.6),
 Row(Total=25.0),
 Row(Total=101.2),
 Row(Total=919.0),
 Row(Total=183.1),
 Row(Total=627.6),
 Row(Total=228.3),
 Row(Total=109.9),
 Row(Total=21246.9),
 Row(Total=4.1),
 Row(Total=286.3),
 Row(Total=65.1),
 Row(Total=126.4),
 Row(Total=1486.2),
 Row(Total=237.5),
 Row(Total=1006.2),
 Row(Total=147.7),
 Row(Total=738.3),
 Row(Total=29.2),
 Row(Total=250.3),
 Row(Total=39.8),
 Row(Total=448.1),
 Row(Total=352.1),
 Row(Total=9878.2),
 Row(Total=2.2),
 Row(Total=1776.0),
 Row(Total=108.7),
 Row(Total=287.6),
 Row(Total=68.5),
 Row(Total=198.5),
 Row(Total=117.6),
 Row(Total=118.2),
 Row(Total=36.0),
 Row(Total=175.5),
 Row(Total=12.4),
 Row(Total=236.1),
 Row(Total=56.1),
 Row(Total=524.3),
 Row(Total=222.6),
 Row(Total=150.6),
 Row(Total=2.8),
 Row(Total=21.6),
 Row(Total=116.2),
 Row(Total=1240.0),
 Row(Total=63.9),
 Row(Total=1849.9),
 Row(Total=914.5),
 Row(Total=535.4),
 Row(Total=34.9),
 Row(Total=61.1),
 Row(Total=364.0),
 Row(Total=309.0),
 Row(Total=274.8),
 Row(Total=217.9),
 Row(Total=46.5),
 Row(Total=198.9),
 Row(Total=226.9),
 Row(Total=830.5),
 Row(Total=730.7),
 Row(Total=556.2),
 Row(Total=179.4),
 Row(Total=201.4),
 Row(Total=1896.0),
 Row(Total=339.6),
 Row(Total=10976.6),
 Row(Total=9923.4),
 Row(Total=27.4),
 Row(Total=29.1),
 Row(Total=28.9),
 Row(Total=115.7),
 Row(Total=153.5),
 Row(Total=161.3),
 Row(Total=41.9),
 Row(Total=344.0),
 Row(Total=246.9),
 Row(Total=244.1),
 Row(Total=334.0),
 Row(Total=533.2),
 Row(Total=8.6),
 Row(Total=9.3),
 Row(Total=8.8),
 Row(Total=1455.3),
 Row(Total=690.9),
 Row(Total=298.1),
 Row(Total=298.4),
 Row(Total=370.8),
 Row(Total=1061.5),
 Row(Total=264.3),
 Row(Total=243.5),
 Row(Total=11387.7),
 Row(Total=11257.1),
 Row(Total=613.8),
 Row(Total=28.1),
 Row(Total=55.7),
 Row(Total=30.9),
 Row(Total=173.4),
 Row(Total=220.0),
 Row(Total=507.6),
 Row(Total=675.7),
 Row(Total=140.8),
 Row(Total=239.3),
 Row(Total=184.1),
 Row(Total=1844.3),
 Row(Total=225.4),
 Row(Total=174.1),
 Row(Total=78.8),
 Row(Total=125.6),
 Row(Total=86.7),
 Row(Total=324.3),
 Row(Total=273.7),
 Row(Total=998.2),
 Row(Total=363.8),
 Row(Total=469.2),
 Row(Total=37.6),
 Row(Total=248.4),
 Row(Total=152.2),
 Row(Total=15.2),
 Row(Total=134.6),
 Row(Total=60.3),
 Row(Total=27.5),
 Row(Total=201.1),
 Row(Total=134.8),
 Row(Total=1244.4),
 Row(Total=149.0),
 Row(Total=236.4),
 Row(Total=76.7),
 Row(Total=1268.7),
 Row(Total=409.2),
 Row(Total=43.1),
 Row(Total=175.6),
 Row(Total=91.7),
 Row(Total=11.2),
 Row(Total=667.6),
 Row(Total=272.9),
 Row(Total=1197.5),
 Row(Total=233.2),
 Row(Total=94.2),
 Row(Total=147.3),
 Row(Total=556.3),
 Row(Total=172.6),
 Row(Total=188.2),
 Row(Total=111.7),
 Row(Total=43.5),
 Row(Total=27.6),
 Row(Total=123.4),
 Row(Total=1186.0),
 Row(Total=69.7),
 Row(Total=471.3),
 Row(Total=35.5),
 Row(Total=1113.7),
 Row(Total=1400.5),
 Row(Total=35.7),
 Row(Total=177.1),
 Row(Total=39.5),
 Row(Total=243.1),
 Row(Total=343.6),
 Row(Total=324.8),
 Row(Total=21.8),
 Row(Total=75.8),
 Row(Total=20184.9),
 Row(Total=4.0),
 Row(Total=710.9),
 Row(Total=7.5),
 Row(Total=11.1),
 Row(Total=103.7),
 Row(Total=107.6),
 Row(Total=1148.0),
 Row(Total=207.1),
 Row(Total=788.0),
 Row(Total=295.9),
 Row(Total=61.3),
 Row(Total=64.7),
 Row(Total=2934.0),
 Row(Total=391.9),
 Row(Total=411.6),
 Row(Total=155.3),
 Row(Total=349.0),
 Row(Total=246.0),
 Row(Total=1.9),
 Row(Total=473.4),
 Row(Total=136.7),
 Row(Total=95.3),
 Row(Total=249.5),
 Row(Total=99.3),
 Row(Total=532.5),
 Row(Total=227.6),
 Row(Total=978.0),
 Row(Total=494.2),
 Row(Total=27.9),
 Row(Total=133.5),
 Row(Total=59.9),
 Row(Total=149.6),
 Row(Total=77.7),
 Row(Total=1143.2),
 Row(Total=994.3),
 Row(Total=22.5),
 Row(Total=93.7),
 Row(Total=621.8),
 Row(Total=10.1),
 Row(Total=300.2),
 Row(Total=46.7),
 Row(Total=116.6),
 Row(Total=98.5),
 Row(Total=73.2),
 Row(Total=73.9),
 Row(Total=212.0),
 Row(Total=19.3),
 Row(Total=23.7),
 Row(Total=131.3),
 Row(Total=1110.7),
 Row(Total=56.9),
 Row(Total=173.2),
 Row(Total=424.0),
 Row(Total=347.7),
 Row(Total=736.8),
 Row(Total=62.1),
 ...]

In [ ]:
df.filter(df['Total'].isNull()).count()

128

In [ ]:
df.select(mean('Total')).collect()[0][0]

189.79314681724836

In [ ]:
df.filter(df['Total'] > 188).orderBy('Total').show()

+--------------------+-------+--------------+------+-----+
|                Cnae|   Sexo|        Unidad| Fecha|Total|
+--------------------+-------+--------------+------+-----+
|10 Industria de l...|Mujeres|Valor absoluto|2022T3|188.2|
|71 Servicios tÃ©cn...|Hombres|Valor absoluto|2022T2|188.5|
|01 Agricultura, g...|Mujeres|Valor absoluto|2022T1|188.8|
|10 Industria de l...|Mujeres|Valor absoluto|2023T4|188.9|
|71 Servicios tÃ©cn...|Hombres|Valor absoluto|2023T1|190.1|
|52 Almacenamiento...|Hombres|Valor absoluto|2022T1|190.2|
|71 Servicios tÃ©cn...|Hombres|Valor absoluto|2022T3|191.0|
|55 Servicios de a...|Hombres|Valor absoluto|2022T2|191.5|
|52 Almacenamiento...|Hombres|Valor absoluto|2021T3|191.7|
|52 Almacenamiento...|Hombres|Valor absoluto|2021T4|191.9|
|01 Agricultura, g...|Mujeres|Valor absoluto|2021T4|192.4|
|29 FabricaciÃ³n de...|Hombres|Valor absoluto|2021T2|193.1|
|52 Almacenamiento...|Hombres|Valor absoluto|2023T2|193.4|
|01 Agricultura, g...|Mujeres|Valor absoluto|2023T4|193.9|
|71 Servicios tÃ©cn...|Hombres|Valor absoluto|2023T2|195.4|
|10 Industria de l...|Mujeres|Valor absoluto|2023T2|196.2|
|29 FabricaciÃ³n de...|Hombres|Valor absoluto|2021T1|197.3|
|25 FabricaciÃ³n de...|Hombres|Valor absoluto|2023T2|197.6|
|10 Industria de l...|Mujeres|Valor absoluto|2022T2|198.0|
|52 Almacenamiento...|Hombres|Valor absoluto|2022T2|198.5|
+--------------------+-------+--------------+------+-----+
only showing top 20 rows

In [ ]:
df.select('Cnae').distinct().collect()

[Row(Cnae='21 FabricaciÃ³n de productos farmacÃ©uticos'),
 Row(Cnae='30 FabricaciÃ³n de otro material de transporte'),
 Row(Cnae='43 Actividades de construcciÃ³n especializada'),
 Row(Cnae='Total'),
 Row(Cnae='28 FabricaciÃ³n de maquinaria y equipo n.c.o.p.'),
 Row(Cnae='10 Industria de la alimentaciÃ³n'),
 Row(Cnae='N Actividades administrativas y servicios auxiliares'),
 Row(Cnae='41 ConstrucciÃ³n de edificios'),
 Row(Cnae='97 Actividades de los hogares como empleadores de personal domÃ©stico'),
 Row(Cnae='81 Servicios a edificios y actividades de jardinerÃ­a'),
 Row(Cnae='53 Actividades postales y de correos'),
 Row(Cnae='13 Industria textil'),
 Row(Cnae='86 Actividades sanitarias'),
 Row(Cnae='D Suministro de energÃ­a elÃ©ctrica, gas, vapor y aire acondicionado'),
 Row(Cnae='26 FabricaciÃ³n de productos informÃ¡ticos, electrÃ³nicos y Ã³pticos'),
 Row(Cnae='64 Servicios financieros, excepto seguros y fondos de pensiones'),
 Row(Cnae='32 Otras industrias manufactureras'),
 Row(Cnae='U Actividades de organizaciones y organismos extraterritoriales'),
 Row(Cnae='79 Actividades de agencias de viajes, operadores turÃ­sticos, servicios de reservas y actividades relacionadas con los mismos'),
 Row(Cnae='23 FabricaciÃ³n de otros productos minerales no metÃ¡licos'),
 Row(Cnae='52 Almacenamiento y actividades anexas al transporte'),
 Row(Cnae='95 ReparaciÃ³n de ordenadores, efectos personales y artÃ­culos de uso domÃ©stico'),
 Row(Cnae='84 AdministraciÃ³n PÃºblica y defensa, Seguridad Social obligatoria'),
 Row(Cnae='08 Otras industrias extractivas'),
 Row(Cnae='03 Pesca y acuicultura'),
 Row(Cnae='47 Comercio al por menor, excepto de vehÃ­culos de motor y motocicletas'),
 Row(Cnae='K Actividades financieras y de seguros'),
 Row(Cnae='92 Actividades de juegos de azar y apuestas'),
 Row(Cnae='98 Actividades de los hogares como productores de bienes y servicios para uso propio'),
 Row(Cnae='85 EducaciÃ³n'),
 Row(Cnae='99 Actividades de organizaciones y organismos extraterritoriales'),
 Row(Cnae='62 ProgramaciÃ³n, consultorÃ­a y otras actividades relacionadas con la informÃ¡tica'),
 Row(Cnae='65 Seguros, reaseguros y fondos de pensiones, excepto Seguridad Social obligatoria'),
 Row(Cnae='J InformaciÃ³n y comunicaciones'),
 Row(Cnae='31 FabricaciÃ³n de muebles'),
 Row(Cnae='87 Asistencia en establecimientos residenciales'),
 Row(Cnae='09 Actividades de apoyo a las industrias extractivas'),
 Row(Cnae='18 Artes grÃ¡ficas y reproducciÃ³n de soportes grabados'),
 Row(Cnae='59 Actividades cinematogrÃ¡ficas, de vÃ­deo y de programas de televisiÃ³n, grabaciÃ³n de sonido y ediciÃ³n musical'),
 Row(Cnae='96 Otros servicios personales'),
 Row(Cnae='42 IngenierÃ­a civil'),
 Row(Cnae='22 FabricaciÃ³n de productos de caucho y plÃ¡sticos'),
 Row(Cnae='19 CoquerÃ­as y refino de petrÃ³leo'),
 Row(Cnae='63 Servicios de informaciÃ³n'),
 Row(Cnae='S Otros servicios'),
 Row(Cnae='11 FabricaciÃ³n de bebidas'),
 Row(Cnae='33 ReparaciÃ³n e instalaciÃ³n de maquinaria y equipo'),
 Row(Cnae='66 Actividades auxiliares a los servicios financieros y a los seguros'),
 Row(Cnae='R Actividades artÃ­sticas, recreativas y de entretenimiento'),
 Row(Cnae='29 FabricaciÃ³n de vehÃ­culos de motor, remolques y semirremolques'),
 Row(Cnae='06 ExtracciÃ³n de crudo de petrÃ³leo y gas natural'),
 Row(Cnae='20 Industria quÃ­mica'),
 Row(Cnae='Q Actividades sanitarias y de servicios sociales'),
 Row(Cnae='35 Suministro de energÃ­a elÃ©ctrica, gas, vapor y aire acondicionado'),
 Row(Cnae='12 Industria del tabaco'),
 Row(Cnae='O AdministraciÃ³n PÃºblica y defensa, Seguridad Social obligatoria'),
 Row(Cnae='07 ExtracciÃ³n de minerales metÃ¡licos'),
 Row(Cnae='68 Actividades inmobiliarias'),
 Row(Cnae='80 Actividades de seguridad e investigaciÃ³n'),
 Row(Cnae='01 Agricultura, ganaderÃ­a, caza y servicios relacionados con las mismas'),
 Row(Cnae='37 Recogida y tratamiento de aguas residuales'),
 Row(Cnae='F ConstrucciÃ³n'),
 Row(Cnae='P EducaciÃ³n'),
 Row(Cnae='A Agricultura, ganaderÃ­a, silvicultura y pesca'),
 Row(Cnae='27 FabricaciÃ³n de material y equipo elÃ©ctrico'),
 Row(Cnae='E Suministro de agua, actividades de saneamiento, gestiÃ³n de residuos y descontaminaciÃ³n'),
 Row(Cnae='78 Actividades relacionadas con el empleo'),
 Row(Cnae='69 Actividades jurÃ­dicas y de contabilidad'),
 Row(Cnae='B Industrias extractivas'),
 Row(Cnae='74 Otras actividades profesionales, cientÃ­ficas y tÃ©cnicas'),
 Row(Cnae='39 Actividades de descontaminaciÃ³n y otros servicios de gestiÃ³n de residuos'),
 Row(Cnae='71 Servicios tÃ©cnicos de arquitectura e ingenierÃ­a, ensayos y anÃ¡lisis tÃ©cnicos'),
 Row(Cnae='77 Actividades de alquiler'),
 Row(Cnae='73 Publicidad y estudios de mercado'),
 Row(Cnae='70 Actividades de las sedes centrales, actividades de consultorÃ­a de gestiÃ³n empresarial'),
 Row(Cnae='17 Industria del papel'),
 Row(Cnae='60 Actividades de programaciÃ³n y emisiÃ³n de radio y televisiÃ³n'),
 Row(Cnae='25 FabricaciÃ³n de productos metÃ¡licos, excepto maquinaria y equipo'),
 Row(Cnae='H Transporte y almacenamiento'),
 Row(Cnae='C Industria manufacturera'),
 Row(Cnae='15 Industria del cuero y del calzado'),
 Row(Cnae='61 Telecomunicaciones'),
 Row(Cnae='49 Transporte terrestre y por tuberÃ­a'),
 Row(Cnae='51 Transporte aÃ©reo'),
 Row(Cnae='I HostelerÃ­a'),
 Row(Cnae='M Actividades profesionales, cientÃ­ficas y tÃ©cnicas'),
 Row(Cnae='T Actividades de los hogares como empleadores de personal domÃ©stico, actividades de los hogares como productores de bienes y servicios para uso propio'),
 Row(Cnae='50 Transporte marÃ­timo y por vÃ­as navegables interiores'),
 Row(Cnae='88 Actividades de servicios sociales sin alojamiento'),
 Row(Cnae='36 CaptaciÃ³n, depuraciÃ³n y distribuciÃ³n de agua'),
 Row(Cnae='90 Actividades de creaciÃ³n, artÃ­sticas y espectÃ¡culos'),
 Row(Cnae='45 Venta y reparaciÃ³n de vehÃ­culos de motor y motocicletas'),
 Row(Cnae='46 Comercio al por mayor e intermediarios del comercio, excepto de vehÃ­culos de motor y motocicletas'),
 Row(Cnae='L Actividades inmobiliarias'),
 Row(Cnae='75 Actividades veterinarias'),
 Row(Cnae='93 Actividades deportivas, recreativas y de entretenimiento'),
 Row(Cnae='72 InvestigaciÃ³n y desarrollo'),
 Row(Cnae='14 ConfecciÃ³n de prendas de vestir'),
 Row(Cnae='55 Servicios de alojamiento'),
 Row(Cnae='02 Silvicultura y explotaciÃ³n forestal'),
 Row(Cnae='82 Actividades administrativas de oficina y otras actividades auxiliares a las empresas'),
 Row(Cnae='58 EdiciÃ³n'),
 Row(Cnae='94 Actividades asociativas'),
 Row(Cnae='38 Recogida, tratamiento y eliminaciÃ³n de residuos, valorizaciÃ³n'),
 Row(Cnae='05 ExtracciÃ³n de antracita, hulla y lignito'),
 Row(Cnae='91 Actividades de bibliotecas, archivos, museos y otras actividades culturales'),
 Row(Cnae='16 Industria de la madera y del corcho, excepto muebles, cesterÃ­a y esparterÃ­a'),
 Row(Cnae='24 Metalurgia, fabricaciÃ³n de productos de hierro, acero y ferroaleaciones'),
 Row(Cnae='G Comercio al por mayor y al por menor, reparaciÃ³n de vehÃ­culos de motor y motocicletas'),
 Row(Cnae='56 Servicios de comidas y bebidas')]

In [ ]:
lst = []
for i in df.select('Cnae').distinct().collect():
    lst.append(i[0])
lst

['21 FabricaciÃ³n de productos farmacÃ©uticos',
 '30 FabricaciÃ³n de otro material de transporte',
 '43 Actividades de construcciÃ³n especializada',
 'Total',
 '28 FabricaciÃ³n de maquinaria y equipo n.c.o.p.',
 '10 Industria de la alimentaciÃ³n',
 'N Actividades administrativas y servicios auxiliares',
 '41 ConstrucciÃ³n de edificios',
 '97 Actividades de los hogares como empleadores de personal domÃ©stico',
 '81 Servicios a edificios y actividades de jardinerÃ­a',
 '53 Actividades postales y de correos',
 '13 Industria textil',
 '86 Actividades sanitarias',
 'D Suministro de energÃ­a elÃ©ctrica, gas, vapor y aire acondicionado',
 '26 FabricaciÃ³n de productos informÃ¡ticos, electrÃ³nicos y Ã³pticos',
 '64 Servicios financieros, excepto seguros y fondos de pensiones',
 '32 Otras industrias manufactureras',
 'U Actividades de organizaciones y organismos extraterritoriales',
 '79 Actividades de agencias de viajes, operadores turÃ­sticos, servicios de reservas y actividades relacionadas con los mismos',
 '23 FabricaciÃ³n de otros productos minerales no metÃ¡licos',
 '52 Almacenamiento y actividades anexas al transporte',
 '95 ReparaciÃ³n de ordenadores, efectos personales y artÃ­culos de uso domÃ©stico',
 '84 AdministraciÃ³n PÃºblica y defensa, Seguridad Social obligatoria',
 '08 Otras industrias extractivas',
 '03 Pesca y acuicultura',
 '47 Comercio al por menor, excepto de vehÃ­culos de motor y motocicletas',
 'K Actividades financieras y de seguros',
 '92 Actividades de juegos de azar y apuestas',
 '98 Actividades de los hogares como productores de bienes y servicios para uso propio',
 '85 EducaciÃ³n',
 '99 Actividades de organizaciones y organismos extraterritoriales',
 '62 ProgramaciÃ³n, consultorÃ­a y otras actividades relacionadas con la informÃ¡tica',
 '65 Seguros, reaseguros y fondos de pensiones, excepto Seguridad Social obligatoria',
 'J InformaciÃ³n y comunicaciones',
 '31 FabricaciÃ³n de muebles',
 '87 Asistencia en establecimientos residenciales',
 '09 Actividades de apoyo a las industrias extractivas',
 '18 Artes grÃ¡ficas y reproducciÃ³n de soportes grabados',
 '59 Actividades cinematogrÃ¡ficas, de vÃ­deo y de programas de televisiÃ³n, grabaciÃ³n de sonido y ediciÃ³n musical',
 '96 Otros servicios personales',
 '42 IngenierÃ­a civil',
 '22 FabricaciÃ³n de productos de caucho y plÃ¡sticos',
 '19 CoquerÃ­as y refino de petrÃ³leo',
 '63 Servicios de informaciÃ³n',
 'S Otros servicios',
 '11 FabricaciÃ³n de bebidas',
 '33 ReparaciÃ³n e instalaciÃ³n de maquinaria y equipo',
 '66 Actividades auxiliares a los servicios financieros y a los seguros',
 'R Actividades artÃ­sticas, recreativas y de entretenimiento',
 '29 FabricaciÃ³n de vehÃ­culos de motor, remolques y semirremolques',
 '06 ExtracciÃ³n de crudo de petrÃ³leo y gas natural',
 '20 Industria quÃ­mica',
 'Q Actividades sanitarias y de servicios sociales',
 '35 Suministro de energÃ­a elÃ©ctrica, gas, vapor y aire acondicionado',
 '12 Industria del tabaco',
 'O AdministraciÃ³n PÃºblica y defensa, Seguridad Social obligatoria',
 '07 ExtracciÃ³n de minerales metÃ¡licos',
 '68 Actividades inmobiliarias',
 '80 Actividades de seguridad e investigaciÃ³n',
 '01 Agricultura, ganaderÃ­a, caza y servicios relacionados con las mismas',
 '37 Recogida y tratamiento de aguas residuales',
 'F ConstrucciÃ³n',
 'P EducaciÃ³n',
 'A Agricultura, ganaderÃ­a, silvicultura y pesca',
 '27 FabricaciÃ³n de material y equipo elÃ©ctrico',
 'E Suministro de agua, actividades de saneamiento, gestiÃ³n de residuos y descontaminaciÃ³n',
 '78 Actividades relacionadas con el empleo',
 '69 Actividades jurÃ­dicas y de contabilidad',
 'B Industrias extractivas',
 '74 Otras actividades profesionales, cientÃ­ficas y tÃ©cnicas',
 '39 Actividades de descontaminaciÃ³n y otros servicios de gestiÃ³n de residuos',
 '71 Servicios tÃ©cnicos de arquitectura e ingenierÃ­a, ensayos y anÃ¡lisis tÃ©cnicos',
 '77 Actividades de alquiler',
 '73 Publicidad y estudios de mercado',
 '70 Actividades de las sedes centrales, actividades de consultorÃ­a de gestiÃ³n empresarial',
 '17 Industria del papel',
 '60 Actividades de programaciÃ³n y emisiÃ³n de radio y televisiÃ³n',
 '25 FabricaciÃ³n de productos metÃ¡licos, excepto maquinaria y equipo',
 'H Transporte y almacenamiento',
 'C Industria manufacturera',
 '15 Industria del cuero y del calzado',
 '61 Telecomunicaciones',
 '49 Transporte terrestre y por tuberÃ­a',
 '51 Transporte aÃ©reo',
 'I HostelerÃ­a',
 'M Actividades profesionales, cientÃ­ficas y tÃ©cnicas',
 'T Actividades de los hogares como empleadores de personal domÃ©stico, actividades de los hogares como productores de bienes y servicios para uso propio',
 '50 Transporte marÃ­timo y por vÃ­as navegables interiores',
 '88 Actividades de servicios sociales sin alojamiento',
 '36 CaptaciÃ³n, depuraciÃ³n y distribuciÃ³n de agua',
 '90 Actividades de creaciÃ³n, artÃ­sticas y espectÃ¡culos',
 '45 Venta y reparaciÃ³n de vehÃ­culos de motor y motocicletas',
 '46 Comercio al por mayor e intermediarios del comercio, excepto de vehÃ­culos de motor y motocicletas',
 'L Actividades inmobiliarias',
 '75 Actividades veterinarias',
 '93 Actividades deportivas, recreativas y de entretenimiento',
 '72 InvestigaciÃ³n y desarrollo',
 '14 ConfecciÃ³n de prendas de vestir',
 '55 Servicios de alojamiento',
 '02 Silvicultura y explotaciÃ³n forestal',
 '82 Actividades administrativas de oficina y otras actividades auxiliares a las empresas',
 '58 EdiciÃ³n',
 '94 Actividades asociativas',
 '38 Recogida, tratamiento y eliminaciÃ³n de residuos, valorizaciÃ³n',
 '05 ExtracciÃ³n de antracita, hulla y lignito',
 '91 Actividades de bibliotecas, archivos, museos y otras actividades culturales',
 '16 Industria de la madera y del corcho, excepto muebles, cesterÃ­a y esparterÃ­a',
 '24 Metalurgia, fabricaciÃ³n de productos de hierro, acero y ferroaleaciones',
 'G Comercio al por mayor y al por menor, reparaciÃ³n de vehÃ­culos de motor y motocicletas',
 '56 Servicios de comidas y bebidas']

In [ ]:
df.filter(col('Fecha').contains('2022')).show(2)

+-----+-----------+--------------+------+-------+
| Cnae|       Sexo|        Unidad| Fecha|  Total|
+-----+-----------+--------------+------+-------+
|Total|Ambos sexos|Valor absoluto|2022T4|20463.9|
|Total|Ambos sexos|Valor absoluto|2022T3|20545.7|
+-----+-----------+--------------+------+-------+
only showing top 2 rows

In [ ]:
df.filter(col('Cnae').endswith('s')).show(2)

+--------------------+-----------+--------------+------+-----+
|                Cnae|       Sexo|        Unidad| Fecha|Total|
+--------------------+-----------+--------------+------+-----+
|01 Agricultura, g...|Ambos sexos|Valor absoluto|2023T4|699.0|
|01 Agricultura, g...|Ambos sexos|Valor absoluto|2023T3|624.5|
+--------------------+-----------+--------------+------+-----+
only showing top 2 rows

In [ ]:
df.filter(col('Cnae').startswith('I')).show(2)

+------------+-----------+--------------+------+------+
|        Cnae|       Sexo|        Unidad| Fecha| Total|
+------------+-----------+--------------+------+------+
|I HostelerÃ­a|Ambos sexos|Valor absoluto|2023T4|1687.5|
|I HostelerÃ­a|Ambos sexos|Valor absoluto|2023T3|1879.5|
+------------+-----------+--------------+------+------+
only showing top 2 rows

In [ ]:
dic = {}
lst2 = ['A', 'M', 'H']
lst3 = []
for i in df.select('Sexo').distinct().collect():
    lst3.append(i[0])
for i in range(3):
    dic[lst3[i]]=lst2[i]
dic

{'Ambos sexos': 'A', 'Mujeres': 'M', 'Hombres': 'H'}

In [ ]:
cond = [F.when(F.col('Sexo') == k, v) for k, v in dic.items()]

df = df.withColumn('Sexo', F.coalesce(*cond, F.col('Sexo')))

In [ ]:
df.show()

+-----+----+--------------+------+-------+
| Cnae|Sexo|        Unidad| Fecha|  Total|
+-----+----+--------------+------+-------+
|Total|   A|Valor absoluto|2023T4|21246.9|
|Total|   A|Valor absoluto|2023T3|21265.9|
|Total|   A|Valor absoluto|2023T2|21056.7|
|Total|   A|Valor absoluto|2023T1|20452.8|
|Total|   A|Valor absoluto|2022T4|20463.9|
|Total|   A|Valor absoluto|2022T3|20545.7|
|Total|   A|Valor absoluto|2022T2|20468.0|
|Total|   A|Valor absoluto|2022T1|20084.7|
|Total|   A|Valor absoluto|2021T4|20184.9|
|Total|   A|Valor absoluto|2021T3|20031.0|
|Total|   A|Valor absoluto|2021T2|19671.7|
|Total|   A|Valor absoluto|2021T1|19206.8|
|Total|   A|    Porcentaje|2023T4|  100.0|
|Total|   A|    Porcentaje|2023T3|  100.0|
|Total|   A|    Porcentaje|2023T2|  100.0|
|Total|   A|    Porcentaje|2023T1|  100.0|
|Total|   A|    Porcentaje|2022T4|  100.0|
|Total|   A|    Porcentaje|2022T3|  100.0|
|Total|   A|    Porcentaje|2022T2|  100.0|
|Total|   A|    Porcentaje|2022T1|  100.0|
+-----+----+--------------+------+-------+
only showing top 20 rows

In [ ]:
#df = df.withColumn('Total', F.when(F.col('Total').isNull(), df.select(mean('Total')).collect()[0][0]).otherwise(F.col('Total')))

In [ ]:
df = df.withColumn('Cnae', lower(df['Cnae']))

In [ ]:
df = df.withColumn('Total_2', df['Total'] * 10)

In [ ]:
df.show()

+-----+----+--------------+-------+--------+----+---------+
| Cnae|Sexo|        Unidad|  Total| Total_2| AÃ±o|Trimestre|
+-----+----+--------------+-------+--------+----+---------+
|total|   A|Valor absoluto|21246.9|212469.0|2023|        4|
|total|   A|Valor absoluto|21265.9|212659.0|2023|        3|
|total|   A|Valor absoluto|21056.7|210567.0|2023|        2|
|total|   A|Valor absoluto|20452.8|204528.0|2023|        1|
|total|   A|Valor absoluto|20463.9|204639.0|2022|        4|
|total|   A|Valor absoluto|20545.7|205457.0|2022|        3|
|total|   A|Valor absoluto|20468.0|204680.0|2022|        2|
|total|   A|Valor absoluto|20084.7|200847.0|2022|        1|
|total|   A|Valor absoluto|20184.9|201849.0|2021|        4|
|total|   A|Valor absoluto|20031.0|200310.0|2021|        3|
|total|   A|Valor absoluto|19671.7|196717.0|2021|        2|
|total|   A|Valor absoluto|19206.8|192068.0|2021|        1|
|total|   A|    Porcentaje|  100.0|  1000.0|2023|        4|
|total|   A|    Porcentaje|  100.0|  1000.0|2023|        3|
|total|   A|    Porcentaje|  100.0|  1000.0|2023|        2|
|total|   A|    Porcentaje|  100.0|  1000.0|2023|        1|
|total|   A|    Porcentaje|  100.0|  1000.0|2022|        4|
|total|   A|    Porcentaje|  100.0|  1000.0|2022|        3|
|total|   A|    Porcentaje|  100.0|  1000.0|2022|        2|
|total|   A|    Porcentaje|  100.0|  1000.0|2022|        1|
+-----+----+--------------+-------+--------+----+---------+
only showing top 20 rows

In [ ]:
df = df.withColumn('AÃ±o', F.substring(F.col('Fecha'), 1, 4))

In [ ]:
df = df.withColumn('Trimestre', 
                   F.when(F.substring(F.col('Fecha'), 5, 2).isin('T1'), 1)
                    .when(F.substring(F.col('Fecha'), 5, 2).isin('T2'), 2)
                    .when(F.substring(F.col('Fecha'), 5, 2).isin('T3'), 3)
                    .when(F.substring(F.col('Fecha'), 5, 2).isin('T4'), 4)
                    .otherwise(None))
#df = df.withColumn('Total', F.when(F.col('Total').isNull(), df.select(mean('Total')).collect()[0][0]).otherwise(F.col('Total')))

In [ ]:
df.filter(df['Unidad']=='Porcentaje').show(2)

+-----+----+----------+------+-----+-------+----+---------+
| Cnae|Sexo|    Unidad| Fecha|Total|Total_2| AÃ±o|Trimestre|
+-----+----+----------+------+-----+-------+----+---------+
|total|   A|Porcentaje|2023T4|100.0| 1000.0|2023|        4|
|total|   A|Porcentaje|2023T3|100.0| 1000.0|2023|        3|
+-----+----+----------+------+-----+-------+----+---------+
only showing top 2 rows

In [ ]:
df.filter(df['Total']>20000).show(20)

+-----+----+--------------+-------+--------+----+---------+
| Cnae|Sexo|        Unidad|  Total| Total_2| AÃ±o|Trimestre|
+-----+----+--------------+-------+--------+----+---------+
|total|   A|Valor absoluto|21246.9|212469.0|2023|        4|
|total|   A|Valor absoluto|21265.9|212659.0|2023|        3|
|total|   A|Valor absoluto|21056.7|210567.0|2023|        2|
|total|   A|Valor absoluto|20452.8|204528.0|2023|        1|
|total|   A|Valor absoluto|20463.9|204639.0|2022|        4|
|total|   A|Valor absoluto|20545.7|205457.0|2022|        3|
|total|   A|Valor absoluto|20468.0|204680.0|2022|        2|
|total|   A|Valor absoluto|20084.7|200847.0|2022|        1|
|total|   A|Valor absoluto|20184.9|201849.0|2021|        4|
|total|   A|Valor absoluto|20031.0|200310.0|2021|        3|
+-----+----+--------------+-------+--------+----+---------+

In [ ]:
df.filter(df['Unidad']=='Valor absoluto').sort(asc('Trimestre')).show()

+--------------------+----+--------------+-------+--------+----+---------+
|                Cnae|Sexo|        Unidad|  Total| Total_2| AÃ±o|Trimestre|
+--------------------+----+--------------+-------+--------+----+---------+
|a agricultura, ga...|   H|Valor absoluto|  567.1|  5671.0|2023|        1|
|02 silvicultura y...|   H|Valor absoluto|   23.0|   230.0|2021|        1|
|a agricultura, ga...|   H|Valor absoluto|  628.8|  6288.0|2022|        1|
|               total|   A|Valor absoluto|20452.8|204528.0|2023|        1|
|a agricultura, ga...|   H|Valor absoluto|  613.8|  6138.0|2021|        1|
|               total|   A|Valor absoluto|19206.8|192068.0|2021|        1|
|a agricultura, ga...|   M|Valor absoluto|  181.1|  1811.0|2023|        1|
|               total|   H|Valor absoluto|10791.3|107913.0|2022|        1|
|a agricultura, ga...|   M|Valor absoluto|  198.9|  1989.0|2022|        1|
|               total|   M|Valor absoluto| 9527.8| 95278.0|2023|        1|
|a agricultura, ga...|   M|Valor absoluto|  184.2|  1842.0|2021|        1|
|               total|   M|Valor absoluto| 8821.7| 88217.0|2021|        1|
|01 agricultura, g...|   A|Valor absoluto|  678.3|  6783.0|2023|        1|
|a agricultura, ga...|   A|Valor absoluto|  827.7|  8277.0|2022|        1|
|01 agricultura, g...|   A|Valor absoluto|  763.9|  7639.0|2022|        1|
|01 agricultura, g...|   H|Valor absoluto|  559.1|  5591.0|2021|        1|
|02 silvicultura y...|   H|Valor absoluto|   27.4|   274.0|2022|        1|
|01 agricultura, g...|   M|Valor absoluto|  172.6|  1726.0|2023|        1|
|               total|   A|Valor absoluto|20084.7|200847.0|2022|        1|
|01 agricultura, g...|   M|Valor absoluto|  188.8|  1888.0|2022|        1|
+--------------------+----+--------------+-------+--------+----+---------+
only showing top 20 rows

In [ ]:
gp = df.filter((df['Unidad']=='Porcentaje')&(df['Sexo']=='A')&(df['AÃ±o']==2023)&(df['Trimestre']==4)&(df['Cnae']!='total'))

In [ ]:
gp.sort(asc('Total')).show()

+--------------------+----+----------+-----+-------+----+---------+
|                Cnae|Sexo|    Unidad|Total|Total_2| AÃ±o|Trimestre|
+--------------------+----+----------+-----+-------+----+---------+
|98 actividades de...|   A|Porcentaje| NULL|   NULL|2023|        4|
|05 extracciÃ³n de ...|   A|Porcentaje|  0.0|    0.0|2023|        4|
|06 extracciÃ³n de ...|   A|Porcentaje|  0.0|    0.0|2023|        4|
|07 extracciÃ³n de ...|   A|Porcentaje|  0.0|    0.0|2023|        4|
|09 actividades de...|   A|Porcentaje|  0.0|    0.0|2023|        4|
|12 industria del ...|   A|Porcentaje|  0.0|    0.0|2023|        4|
|39 actividades de...|   A|Porcentaje|  0.0|    0.0|2023|        4|
|u actividades de ...|   A|Porcentaje|  0.0|    0.0|2023|        4|
|99 actividades de...|   A|Porcentaje|  0.0|    0.0|2023|        4|
|19 coquerÃ­as y re...|   A|Porcentaje|  0.1|    1.0|2023|        4|
|37 recogida y tra...|   A|Porcentaje|  0.1|    1.0|2023|        4|
|08 otras industri...|   A|Porcentaje|  0.1|    1.0|2023|        4|
|50 transporte mar...|   A|Porcentaje|  0.1|    1.0|2023|        4|
|60 actividades de...|   A|Porcentaje|  0.1|    1.0|2023|        4|
|63 servicios de i...|   A|Porcentaje|  0.1|    1.0|2023|        4|
|02 silvicultura y...|   A|Porcentaje|  0.2|    2.0|2023|        4|
|03 pesca y acuicu...|   A|Porcentaje|  0.2|    2.0|2023|        4|
|b industrias extr...|   A|Porcentaje|  0.2|    2.0|2023|        4|
|15 industria del ...|   A|Porcentaje|  0.2|    2.0|2023|        4|
|16 industria de l...|   A|Porcentaje|  0.2|    2.0|2023|        4|
+--------------------+----+----------+-----+-------+----+---------+
only showing top 20 rows

In [ ]:
gp.agg({'Total':'sum'}).collect()

[Row(sum(Total)=199.7999999999999)]

In [ ]:
gp.groupBy('Cnae')['Total'].agg('mean')

TypeError: 'GroupedData' object is not subscriptable

In [ ]:
df.count()

7920

In [ ]:
df = df.drop('Fecha')

In [ ]:
df.select('Cnae').show()

+-----+
| Cnae|
+-----+
|total|
|total|
|total|
|total|
|total|
|total|
|total|
|total|
|total|
|total|
|total|
|total|
|total|
|total|
|total|
|total|
|total|
|total|
|total|
|total|
+-----+
only showing top 20 rows

In [ ]:
gp.write.csv('../prue.csv', header=True, mode="overwrite")

Py4JJavaError: An error occurred while calling o858.csv.
: java.lang.RuntimeException: java.io.FileNotFoundException: java.io.FileNotFoundException: Hadoop home directory C:\Users\Gonzalo\Desktop\CURSOS Y CERTIFICACIONES\Pyspark does not exist -see https://wiki.apache.org/hadoop/WindowsProblems
	at org.apache.hadoop.util.Shell.getWinUtilsPath(Shell.java:735)
	at org.apache.hadoop.util.Shell.getSetPermissionCommand(Shell.java:270)
	at org.apache.hadoop.util.Shell.getSetPermissionCommand(Shell.java:286)
	at org.apache.hadoop.fs.RawLocalFileSystem.setPermission(RawLocalFileSystem.java:978)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkOneDirWithMode(RawLocalFileSystem.java:660)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirsWithOptionalPermission(RawLocalFileSystem.java:700)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirs(RawLocalFileSystem.java:672)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirsWithOptionalPermission(RawLocalFileSystem.java:699)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirs(RawLocalFileSystem.java:672)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirsWithOptionalPermission(RawLocalFileSystem.java:699)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirs(RawLocalFileSystem.java:672)
	at org.apache.hadoop.fs.ChecksumFileSystem.mkdirs(ChecksumFileSystem.java:788)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.setupJob(FileOutputCommitter.java:356)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.setupJob(HadoopMapReduceCommitProtocol.scala:188)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.writeAndCommit(FileFormatWriter.scala:269)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeWrite(FileFormatWriter.scala:304)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:190)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:190)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:113)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:111)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.executeCollect(commands.scala:125)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:859)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:388)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:361)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:240)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:850)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)
Caused by: java.io.FileNotFoundException: java.io.FileNotFoundException: Hadoop home directory C:\Users\Gonzalo\Desktop\CURSOS Y CERTIFICACIONES\Pyspark does not exist -see https://wiki.apache.org/hadoop/WindowsProblems
	at org.apache.hadoop.util.Shell.fileNotFoundException(Shell.java:547)
	at org.apache.hadoop.util.Shell.getHadoopHomeDir(Shell.java:568)
	at org.apache.hadoop.util.Shell.getQualifiedBin(Shell.java:591)
	at org.apache.hadoop.util.Shell.<clinit>(Shell.java:688)
	at org.apache.hadoop.util.StringUtils.<clinit>(StringUtils.java:79)
	at org.apache.hadoop.conf.Configuration.getTimeDurationHelper(Configuration.java:1907)
	at org.apache.hadoop.conf.Configuration.getTimeDuration(Configuration.java:1867)
	at org.apache.hadoop.conf.Configuration.getTimeDuration(Configuration.java:1840)
	at org.apache.hadoop.util.ShutdownHookManager.getShutdownTimeout(ShutdownHookManager.java:183)
	at org.apache.hadoop.util.ShutdownHookManager$HookEntry.<init>(ShutdownHookManager.java:207)
	at org.apache.hadoop.util.ShutdownHookManager.addShutdownHook(ShutdownHookManager.java:304)
	at org.apache.spark.util.SparkShutdownHookManager.install(ShutdownHookManager.scala:181)
	at org.apache.spark.util.ShutdownHookManager$.shutdownHooks$lzycompute(ShutdownHookManager.scala:50)
	at org.apache.spark.util.ShutdownHookManager$.shutdownHooks(ShutdownHookManager.scala:48)
	at org.apache.spark.util.ShutdownHookManager$.addShutdownHook(ShutdownHookManager.scala:153)
	at org.apache.spark.util.ShutdownHookManager$.<init>(ShutdownHookManager.scala:58)
	at org.apache.spark.util.ShutdownHookManager$.<clinit>(ShutdownHookManager.scala)
	at org.apache.spark.util.Utils$.createTempDir(Utils.scala:242)
	at org.apache.spark.util.SparkFileUtils.createTempDir(SparkFileUtils.scala:103)
	at org.apache.spark.util.SparkFileUtils.createTempDir$(SparkFileUtils.scala:102)
	at org.apache.spark.util.Utils$.createTempDir(Utils.scala:94)
	at org.apache.spark.deploy.SparkSubmit.prepareSubmitEnvironment(SparkSubmit.scala:372)
	at org.apache.spark.deploy.SparkSubmit.org$apache$spark$deploy$SparkSubmit$$runMain(SparkSubmit.scala:964)
	at org.apache.spark.deploy.SparkSubmit.doRunMain$1(SparkSubmit.scala:194)
	at org.apache.spark.deploy.SparkSubmit.submit(SparkSubmit.scala:217)
	at org.apache.spark.deploy.SparkSubmit.doSubmit(SparkSubmit.scala:91)
	at org.apache.spark.deploy.SparkSubmit$$anon$2.doSubmit(SparkSubmit.scala:1120)
	at org.apache.spark.deploy.SparkSubmit$.main(SparkSubmit.scala:1129)
	at org.apache.spark.deploy.SparkSubmit.main(SparkSubmit.scala)
Caused by: java.io.FileNotFoundException: Hadoop home directory C:\Users\Gonzalo\Desktop\CURSOS Y CERTIFICACIONES\Pyspark does not exist
	at org.apache.hadoop.util.Shell.checkHadoopHomeInner(Shell.java:490)
	at org.apache.hadoop.util.Shell.checkHadoopHome(Shell.java:438)
	at org.apache.hadoop.util.Shell.<clinit>(Shell.java:515)
	... 25 more

In [ ]:
#df = df.withColumn('Total', F.when(F.col('Total').isNull(), df.select(mean('Total')).collect()[0][0]).otherwise(F.col('Total')))